<div class="card">
  <div class="card-header ">
    <div class="card-custom">
      <button mat-mini-fab color="primary" class="btn-custom" mat-dialog-close
      aria-label="Example icon button with a menu icon">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <h2 class="card-title-custom">Perfil de Usuario </h2>
    </div>
  </div>
  <div class="card-body">
    <div class="user-profile">
  <mat-tab-group>
    <mat-tab label="Datos Personales">
      <mat-list>
      <mat-list-item>
        <span matListItemTitle>{{ usuarioData.usr_nom }} {{ usuarioData.usr_ap_pat }} {{ usuarioData.usr_ap_mat }}</span>
        <span matListItemLine>Nombre</span>
        <div matListItemIcon>
          <mat-icon>person</mat-icon>
        </div>
      </mat-list-item>
      <mat-list-item>
        <span matListItemTitle>{{ usuarioData.usr_rut }}</span>
        <span matListItemLine>Rut</span>
        <div matListItemIcon>
          <mat-icon>credit_card</mat-icon>
        </div>
      </mat-list-item>
      <mat-list-item>
        <span matListItemTitle>{{ usuarioData.usr_email}}</span>
        <span matListItemLine>Correo Electrónico</span>
        <div matListItemIcon>
          <mat-icon>email</mat-icon>
        </div>
      </mat-list-item>
      <mat-list-item>
        <span matListItemTitle>{{ usuarioData.usr_tel}}</span>
        <span matListItemLine>Teléfono</span>
        <div matListItemIcon>
          <mat-icon>phone</mat-icon>
        </div>
      </mat-list-item>
      <mat-list-item>
        <span matListItemTitle *ngIf="usuarioData.usr_url_link">{{ usuarioData.usr_url_link}}</span>
        <span matListItemTitle *ngIf="!usuarioData.usr_url_link">No especificado</span>
        <span matListItemLine>LinkedIn</span>
        <div matListItemIcon>
          <mat-icon>public</mat-icon>
        </div>
      </mat-list-item>
      </mat-list>
    </mat-tab>
    <mat-tab label="Información Laboral">
      <mat-list>
        <mat-list-item *ngFor="let cargo of usuarioData.cargoUsuario">
          <span matListItemTitle>{{ cargo.cargoElitsoft.crg_elit_nom }}</span>
          <span matListItemLine>Cargo a postular</span>
          <span matListItemLine>Pretensión de renta: ${{cargo.crg_usr_pret }}</span>
          <span matListItemLine *ngIf="cargo.crg_prf">Otro cargo preferente: {{cargo.crg_prf }}</span>
          <div matListItemIcon>
            <mat-icon>forward</mat-icon>
          </div>
        </mat-list-item>
        <div class="mb-3 mt-1"> Experiencia laboral:</div>
        <mat-list-item *ngFor="let laboral of usuarioData.laborales">
          <span matListItemTitle>{{ laboral.inf_lab_crg_emp }}</span>
          <span matListItemLine>
            {{ laboral.inf_lab_emp }}
          </span>
            <div *ngFor="let h of laboral.herramientas; let i = index" matListItemLine>
              <mat-chip  class="chips" >
                {{ h.versionProducto.prd.prd_nom }} ({{ h.versionProducto.vrs_name }})  - (Exp:{{ h.herr_usr_anos_exp }} año/s)
              </mat-chip>
            </div>
          <div matListItemIcon>
            <mat-icon>work</mat-icon>
          </div>
          <span matListItemMeta> <div>Desde</div> {{ laboral.inf_lab_fec_ini }} </span>
          <span matListItemMeta> <div>Hasta</div> {{ laboral.inf_lab_fec_fin }} </span>
        </mat-list-item>
      </mat-list>
    </mat-tab>
    <mat-tab label="Información Académica">
      <mat-list>
      <mat-list-item *ngFor="let academica of usuarioData.academicas">
        <span matListItemTitle>{{ academica.titl }}</span>
        <span matListItemLine>{{academica.inf_acad_nom_esc }}</span>
        <span matListItemLine>{{academica.inf_acad_est }}</span>
        <div matListItemIcon>
          <mat-icon>school</mat-icon>
        </div>
        <span matListItemMeta> <div>Desde</div> {{ academica.inf_acad_fec_ini }} </span>
        <span matListItemMeta> <div>Hasta</div> {{ academica.inf_acad_fec_fin }} </span>
      </mat-list-item>
    </mat-list>
    </mat-tab>
    <mat-tab label="Observaciones">
      <mat-stepper *ngIf="mostrarStepper" headerPosition="bottom" #stepper id="miStepper" class="observacion-comentario">
              <mat-step>
          <ng-template matStepLabel>Categoría</ng-template>
          <mat-form-field>
            <mat-label>Seleccione su categoría</mat-label>
            <mat-select [(ngModel)]="selectedCategory" (selectionChange)="onCategorySelectionChange()">
              <mat-option *ngFor="let observadorCat of categorias" [value]="observadorCat.cat_obs_id">
                {{ observadorCat.cat_obs_desc }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div>
            <button mat-button matStepperNext class ="botonprimario m-1">Siguiente</button>
          </div>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Observación</ng-template>
          <mat-label>Escribe una observación...</mat-label>
          <br>
          <textarea matInput [(ngModel)]="nuevaObservacion" class="nueva-observacion"></textarea>
          <div>
            <button mat-button matStepperPrevious class ="botonprimario m-1">Regresar</button>
            <button mat-button matStepperNext class ="botonprimario m-1">Siguiente</button>
          </div>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Aprobaciones</ng-template>
          <mat-card-title>Gerencia</mat-card-title>
          <mat-form-field>
            <mat-label>Aprobación</mat-label>
            <mat-select [(ngModel)]="observadoresCat.apr_ger">
              <mat-option value="Si">Si</mat-option>
              <mat-option value="No">No</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-card-title>Operación</mat-card-title>
          <mat-form-field>
            <mat-label>Aprobación</mat-label>
            <mat-select [(ngModel)]="observadoresCat.apr_oper">
              <mat-option value="Si">Si</mat-option>
              <mat-option value="No">No</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-card-title>Técnica</mat-card-title>
          <mat-form-field>
            <mat-label>Aprobación</mat-label>
            <mat-select [(ngModel)]="observadoresCat.apr_tec">
              <mat-option value="Si">Si</mat-option>
              <mat-option value="No">No</mat-option>
            </mat-select>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious class="botonprimario m-1">Regresar</button>
            <button mat-button  class="botonprimario m-1" (click)="guardarObservacionCat(this.usuarioData.usr_id)">Guardar</button>
          </div>
        </mat-step>
      </mat-stepper>
      <!-- Sección para mostrar observaciones existentes -->
      <div *ngFor="let observadores of observadoresData; let i = index" class="observacion-comentario">
        <div *ngIf="enEdicion !== observadores.obs_id">
        <mat-card class="comentario-card">
          <mat-card>
            <mat-card-header>
              <div mat-card-avatar class="avatar">
              </div>
              <mat-card-title>Creador por: {{ observadores.usr_nom }}</mat-card-title>
              <mat-card-subtitle>Modificado por: {{ observadores.usr2_nom }}</mat-card-subtitle>
            </mat-card-header>
          </mat-card>
          <br>
          <mat-card-content>
            <mat-accordion>
              <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                  <mat-panel-title> Aprobaciones: </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-card-subtitle>{{ observadores.cat_obs_desc }}</mat-card-subtitle>
                <mat-card-subtitle>Aprobación: Gerencia</mat-card-subtitle>
                <mat-label>{{ observadores.apr_ger }}</mat-label>
                <mat-card-subtitle>Aprobación: Operaciones</mat-card-subtitle>
                <mat-label>{{ observadores.apr_oper }}</mat-label>
                <mat-card-subtitle>Aprobación: Técnica</mat-card-subtitle>
                <mat-label>{{ observadores.apr_tec }}</mat-label>
              </mat-expansion-panel>
            </mat-accordion>
            <br>
            <div *ngIf="enEdicion === observadores.obs_id">
              <mat-form-field class="ancho-completo">
                <textarea matInput [(ngModel)]="observadores.obs_desc"></textarea>
              </mat-form-field>
            </div>
            <p *ngIf="enEdicion !== observadores.obs_id" class="observacion-texto">{{ observadores.obs_desc }}</p>
            <div class="acciones-comentario">
              <button mat-button class="botonprimario" *ngIf="enEdicion !== observadores.obs_id" (click)="editarObservacion(observadores.obs_id)">Editar</button>
            </div>
          </mat-card-content>
          <mat-card class="observacion-card">
            <mat-card-content>
              <div class="fecha-info">
                <mat-chip-list>
                  <mat-chip color="primary" selected>
                    Creado: {{observadores.obs_fec_cre | date:'medium' }}
                  </mat-chip>
                  <mat-chip *ngIf="observadores.obs_fec_mod" color="accent" selected>
                    Modificado: {{ observadores.obs_fec_mod | date:'medium' }}
                  </mat-chip>
                </mat-chip-list>
              </div>
            </mat-card-content>
          </mat-card>
        </mat-card>
      </div>
      </div>
      <button mat-raised-button class="botonprimario m-2" (click)="agregarNuevaObservacion()">Agregar Nueva Observación</button>
      <button mat-raised-button class="botonprimario m-2" (click)="salir()" aria-label="Salir">Cerrar Ventana</button>
    </mat-tab>
    </mat-tab-group>
  </div>
  </div>
</div>
