<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Información Academica</title>
</head>
<link rel="stylesheet" href="\informacion-academica.component.css">
<body>
  <div class="container-datos-personales">


    <div class="div-menu">
      <div class="btn-group-vertical" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" (change)="onRadio1Change()" autocomplete="off" >
        <label class="btn btn-outline-secondary" for="btnradio1">Datos Personales</label>

        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" (change)="onRadio2Change()" autocomplete="off"  >
        <label class="btn btn-outline-secondary" for="btnradio2" >Herramientas y Tecnologias </label>

        <input type="radio" class="btn-check" name="btnradio" id="btnradio3" (change)="onRadio3Change()" autocomplete="off" >
        <label class="btn btn-outline-secondary" for="btnradio3">Información Academica</label>

        <input type="radio" class="btn-check" name="btnradio" id="btnradio4" (change)="onRadio4Change()" autocomplete="off" >
        <label class="btn btn-outline-secondary" for="btnradio4">Información Laboral</label>

        <input type="radio" class="btn-check" name="btnradio" id="btnradio5" (change)="onRadio5Change()" autocomplete="off">
        <label class="btn btn-outline-secondary" for="btnradio5">Cargo</label>
      </div>
    </div>

    <div class="div-inputs">

      <form>

        <div class="row mb-3">
          <label for="inputTitulo" class="col-sm-2 col-form-label">Titulo:</label>
          <div class="col-sm-10">
            <input type="inputTitulo" class="form-control" id="inputTitulo" [(ngModel)]="academica.titl" name="inputTitulo" >
          </div>
        </div>
        <div class="row mb-3">
          <label for="inputEducacion" class="col-sm-2 col-form-label">Institución Educativa:</label>
          <div class="col-sm-10">
            <input type="inputEducacion" class="form-control" id="inputEducacion" [(ngModel)]="academica.inf_acad_nom_esc" name="inputEducacion">
          </div>
        </div>
        <div class="row mb-3">
          <label for="inputFechaini" class="col-sm-2 col-form-label">Fecha Inicio:</label>
          <div class="col-sm-10">
            <input type="date" class="form-control" id="inputApellidop" [(ngModel)]="academica.inf_acad_fec_ini" [min]="minFecha" name="inputFechaini">
          </div>
        </div>
        <div class="row mb-3">
          <label for="inputFechafin" class="col-sm-2 col-form-label">Fecha Termino:</label>
          <div class="col-sm-10">
            <input type="date" class="form-control" id="inputFechafin" [(ngModel)]="academica.inf_acad_fec_fin" [min]="minFecha" name="inputFechafin">
          </div>
        </div>
        <div class="row mb-3">
          <label for="selectEstadoAcademico" class="col-sm-2 col-form-label">Estado Academico:</label>
            <select class="form-select" id="selectEstadoAcademico" [(ngModel)]="selectedEstadoAcademico" name="estadoAcademico">
              <option selected disabled >Selecciona una opción...</option>
              <option value="En curso">En curso</option>
              <option value="En práctica">En práctica</option>
              <option value="Egresado">Egresado</option>
              <option value="Titulado">Titulado</option>
            </select>
        </div>


        <div class="div-form d-grid justify-content-end">
          <button type="submit" class="btn btn-primary btn-guardar" (click)="guardarInformacionAcademica()">GUARDAR</button>
        </div>
      </form>
    </div>

  </div>




</body>
</html>
