<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Información Academica</title>
</head>
<link rel="stylesheet" href="\informacion-academica.component.css">
<body>
  <app-app-navbar></app-app-navbar>
  <app-sidebar-user></app-sidebar-user>
  <app-sidebar-userdesk></app-sidebar-userdesk>
  <div class="container-datos-personales">

    <div class="div-inputs">

      <form>

        <div class="row mb-3">
          <label for="inputTitulo" class="col-sm-2 col-form-label">Titulo:</label>
          <div class="col-sm-10">
            <input type="inputTitulo" class="form-control" id="inputTitulo" [(ngModel)]="academica.titl" name="inputTitulo" >
          </div>
        </div>
        <div class="row mb-3">
          <label for="inputEducacion" class="col-sm-2 col-form-label">Institución Educativa:</label>
          <div class="col-sm-10">
            <input type="inputEducacion" class="form-control" id="inputEducacion" [(ngModel)]="academica.inf_acad_nom_esc" name="inputEducacion">
          </div>
        </div>
        <div class="row mb-3">
          <label for="inputFechaini" class="col-sm-2 col-form-label">Fecha Inicio:</label>
          <div class="col-sm-10">
            <input type="date" class="form-control" id="inputApellidop" [(ngModel)]="academica.inf_acad_fec_ini" [min]="minFecha" name="inputFechaini">
          </div>
        </div>
        <div class="row mb-3">
          <label for="inputFechafin" class="col-sm-2 col-form-label">Fecha Termino:</label>
          <div class="col-sm-10">
            <input type="date" class="form-control" id="inputFechafin" [(ngModel)]="academica.inf_acad_fec_fin" [min]="minFecha" name="inputFechafin">
          </div>
        </div>
        <div class="row mb-3">
          <label for="selectEstadoAcademico" class="col-sm-2 col-form-label">Estado Academico:</label>
            <select class="form-select" id="selectEstadoAcademico" [(ngModel)]="selectedEstadoAcademico" name="estadoAcademico">
              <option selected disabled >Selecciona una opción...</option>
              <option value="En curso">En curso</option>
              <option value="En práctica">En práctica</option>
              <option value="Egresado">Egresado</option>
              <option value="Titulado">Titulado</option>
            </select>
        </div>


        <div class="div-form d-grid justify-content-end">
          <button type="submit" class="btn btn-primary btn-guardar" (click)="guardarInformacionAcademica()">GUARDAR</button>
        </div>
      </form>
    </div>

  </div>




</body>
</html>
