/* Estilos para la franja naranja en pantallas más grandes (por defecto) */
.container-datos-personales {
  display: flex;
  align-items: center;
  font-family: 'Meera Inimai', sans-serif;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 12px;
 padding: 5%;
 margin-top: 5%;
 margin-left: 20%;
 margin-right: 20%;
  border: 2px solid orange;
  border-radius: 10px;
  
}


.celda-laboral{
  border-bottom: 1px rgb(190, 190, 190) solid;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 2vh;
 
}
.cargo{
  font-size: medium;
  font-weight: 600;
}

.btn {
  font-size: 15px;
}

.div-menu {
  margin: 50px;
}

.form {
  width: fit-content;
}

.btn-guardar {
  background-color: #F76805;
  border-color: black;
}



/* Media Query para pantallas más pequeñas (resolución móvil) */
@media (max-width: 768px) {
  .container-datos-personales {
    margin-right: 5%; /* Cambia el margen derecho para adaptarse al espacio disponible */
    margin-left: 5%;
    padding-right: 100px;
    padding-top: 5%;
    padding-bottom: 5%;
    align-items: center;
  }


}
