<form  class="observation-form" [formGroup]="formulario">
<mat-card class="elitsoft-card">
  <mat-card-content>
    <form (ngSubmit)="submitForm()" class="observation-form" [formGroup]="formulario">

      <!-- Sección del autor de la observación -->
      <section class="user-info">
        <div class="avatar">{{ getInitials(data.usuario.author.name, data.usuario.author.firstLastname, data.usuario.author.secondLastname) }}</div>
        <mat-card-title>Observación realizada por:</mat-card-title>
        <div class="author-details">
          <div class="author-name">{{ data.usuario.author.name }} {{ data.usuario.author.firstLastname }} {{ data.usuario.author.secondLastname }}</div>
          <div class="author-email">{{ data.usuario.author.email }}</div>
          <div class="author-date">{{ data.usuario.author.date | date: 'dd/MM/yyyy HH:mm:ss' }}</div>
        </div>
      </section>

      <!-- Sección del responsable de la actualización -->
      <section class="responsable">
        <mat-card-subtitle>Actualizado por:</mat-card-subtitle>
        <div class="author-details">
          <h2 class="name">{{ data.usuario.lastUpdateResponsible.name }} {{ data.usuario.lastUpdateResponsible.firstLastname }} {{ data.usuario.lastUpdateResponsible.secondLastname }}</h2>
          <p class="email">{{ data.usuario.lastUpdateResponsible.email }}</p>
          <p class="date">{{ data.usuario.lastUpdateResponsible.date | date: 'dd/MM/yyyy HH:mm:ss' }}</p>
        </div>
      </section>

      <!-- Sección de descripción -->
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Descripción</mat-label>
        <textarea matInput id="description" name="description" [(ngModel)]="data.usuario.description" formControlName="description"></textarea>
      </mat-form-field>
      <mat-card> <button mat-raised-button class="botonprimario" type="submit">Editar</button>
      </mat-card>
    </form>
  </mat-card-content>
</mat-card>
</form>