  
  <mat-card-header><h2 class="perfilr">Agregar Usuario</h2></mat-card-header>
  <mat-card-content>
    <form [formGroup]="userDataForm" (ngSubmit)="guardarUsuario()">

      <!-- Nombre -->
      <mat-form-field class="full-width">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="usr_nom" required maxlength="30">
        <mat-error *ngIf="userDataForm.get('usr_nom')?.hasError('required')">
          *Nombre es requerido.
        </mat-error>
        <mat-error *ngIf="userDataForm.get('usr_nom')?.hasError('maxlength')">
          *Nombre no debe exceder 30 caracteres
        </mat-error>
      </mat-form-field>

      <!-- Apellido Paterno -->
      <mat-form-field class="full-width">
        <mat-label>Apellido Paterno</mat-label>
        <input matInput formControlName="usr_ap_pat" required maxlength="30">
        <mat-error *ngIf="userDataForm.get('usr_ap_pat')?.hasError('required')">
          *Apellido Paterno es requerido
        </mat-error>
        <mat-error *ngIf="userDataForm.get('usr_ap_pat')?.hasError('maxlength')">
          *Apellido Paterno no debe exceder 30 caracteres
        </mat-error>
      </mat-form-field>

      <!-- Apellido Materno -->
      <mat-form-field class="full-width">
        <mat-label>Apellido Materno</mat-label>
        <input matInput formControlName="usr_ap_mat" required maxlength="30">
        <mat-error *ngIf="userDataForm.get('usr_ap_mat')?.hasError('required')">
          *Apellido Materno es requerido
        </mat-error>
        <mat-error *ngIf="userDataForm.get('usr_ap_mat')?.hasError('maxlength')">
          *Apellido Materno no debe exceder 30 caracteres
        </mat-error>
      </mat-form-field>

      <!-- Email -->
      <mat-form-field class="full-width">
        <mat-label>Email</mat-label>
        <input matInput formControlName="usr_email" required maxlength="30">
        <mat-error *ngIf="userDataForm.get('usr_email')?.hasError('required')">
          *Email es requerido
        </mat-error>
        <mat-error *ngIf="userDataForm.get('usr_email')?.hasError('maxlength')">
          *Email no debe exceder 30 caracteres
        </mat-error>
        <mat-error *ngIf="userDataForm.get('usr_email')?.hasError('email')">
          *Email no es válido
        </mat-error>
      </mat-form-field>

  <!-- Contraseña -->
 <!-- Contraseña -->
<mat-form-field class="full-width">
  <mat-label>Contraseña</mat-label>
  <input matInput [type]="hide ? 'password' : 'text'" formControlName="usr_pass" required maxlength="8">
  
  <button mat-icon-button matSuffix (click)="$event.preventDefault(); hide = !hide" [attr.aria-label]="'Toggle password visibility'" [attr.aria-pressed]="hide">
    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
  </button>

  <mat-error *ngIf="userDataForm.get('usr_pass')?.hasError('required')">
    *Contraseña es requerida
  </mat-error>
  <mat-error *ngIf="userDataForm.get('usr_pass')?.hasError('maxlength')">
    *Contraseña no debe exceder 8 caracteres
  </mat-error>
</mat-form-field>
      <!-- Selector de Rol -->
      <mat-form-field class="full-width">
        <mat-label>Rol</mat-label>
        <mat-select formControlName="usr_rol">
          <mat-option value="" disabled>Seleccione un Rol</mat-option>
          <mat-option value="ADMIN">Administrador</mat-option>
          <mat-option value="REC">Reclutador</mat-option>
        </mat-select>
        <mat-error *ngIf="userDataForm.get('usr_rol')?.hasError('required')">
          *Rol es requerido
        </mat-error>
      </mat-form-field>

      <!-- Botones de acción -->
      <div class="form-group text-center d-flex">
        <button mat-raised-button class="botonprimario">Guardar</button>
        <button mat-raised-button class="botonprimario" (click)="cancelar()">Cancelar</button>
      </div>
    </form>
  </mat-card-content>
