<br><br><br><br>
<p class="admin-panel-text">Panel de Administrador</p>

<div class="add-categoria-container">
  <h2>Agregar Nueva Categoría</h2>
  <form (ngSubmit)="formSubmit()" [formGroup]="form">

    <div class="form-group">
      <mat-form-field class="example-full-width"  
      appearance="outline"
    >
        <mat-label>Título</mat-label>
        <input matInput 
       
        formControlName="titulo"
        >
      </mat-form-field>
    </div>
    
    <div class="form-group">
      <mat-form-field   
      class="example-full-width"  

      appearance="outline">
        <mat-label>Descripción</mat-label>
        <textarea matInput
          formControlName="descripcion"
      
          rows="5">
                </textarea>
      </mat-form-field>
     </div>

 
    <div class="form-group text-center d-flex">
      <button type="submit" class="btn btn-primary me-2">Guardar</button>
      <button type="button" class="btn btn-secondary ms-2" (click)="cancelar()">Volver</button>
    </div>
  </form>
</div>
