<mat-nav-list>
  <a mat-list-item (click)="downloadCv()" [id]="data.userId">
    <span matListItemTitle>Descargar CV</span>
    <span matLine>Aquí podrás descargar el CV del Postulante</span>
  </a>
  <a mat-list-item (click)="openDialog('300ms', '150ms', data.userId)">
    <span matListItemTitle>Subir Otros Archivos</span>
    <span matLine>Aquí podrás subir informe psicológico, documentos,etc...</span>
  </a>
    <a  mat-list-item (click)="openDialogVerArchivos('300ms', '150ms', data.userId)">
      <span matListItemTitle>Visualizar Archivos</span>
      <span matLine>Aquí podrás Revisar los archvios del Postulante</span>
    </a>
  </mat-nav-list>

  