.navbar {
    background-color: white; 
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    padding: 0px 0;
    position: fixed;
    z-index: 10;
    width: 100%;
    font-size: small;
  }
  .navbar-nav {
    margin: 0 auto;
    text-align: center;
  }
  .nav-item {
    margin: 0 10px; 
  }
.nav-item a.nav-link:hover {
    color: orange;
  }
.nav-item.active a.nav-link {
    background-color: orange;
    color: white; 
  }
  .elitsoft {
    text-align: center; 
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
    justify-content: flex-end; 
}
.elitsoft img {
    max-width: 60%; 
    display: block;
    position: relative;
    animation: reveal 2s ease-in-out forwards; 
    clip-path: polygon(100% 100%, 0% 0%, 100% 100%, 0% 100%);
}
@keyframes reveal {
    0% {
        clip-path: polygon(100% 0%, 100% 100%, 100% 100%, 100% 0%); 
    }
    100% {
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    }
}
  @media (max-width: 1300px) {
    .navbar{
      display: none;
      pointer-events: none;
      margin-left: 0;
    }
  }
  @media (max-width: 1200px) {
    .navbar{
      margin-left: 0; 
    }
  }