<nav class="sidebar">
    <!-- Logo o encabezado de la barra lateral -->
   <!-- <div class="sidebar-header">
        
      <h3></h3>
    </div> -->
  
    <!-- Opciones del menú -->
    <ul class="list-unstyled components">
        <li>
            <a routerLink="/reclutador/welcome-reclutador"routerLinkActive="active">Inicio</a>
        </li>
      <li>
        <a routerLink="/reclutador/profile-r"routerLinkActive="active">Perfil</a>
      </li>
      <li>
        <a routerLink="/reclutador/view-usuarios-r"routerLinkActive="active">Ver listado de Usuarios</a>
      </li>
      
      <li>
          
      <a (click)="cerrarSesion()">Salir</a>
    </li>
      <!-- Agrega más opciones del menú según tus necesidades -->
    </ul>
    
  </nav>
  


