<br><br><br><br>

<div class="filter-container">
  <mat-form-field class="filter-input">
    <input matInput (input)="filterInput()" placeholder="Filtrar..." [(ngModel)]="filtro">
  </mat-form-field>
  


</div>

<table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($any($event))"
       class="mat-elevation-z8">
   <!-- Resto del código -->

  <!-- Position Column -->
  <ng-container matColumnDef="usr_nom">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Título </th>
    <td mat-cell *matCellDef="let element"> {{element.titulo}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="usr_tel">
    <th mat-header-cell *matHeaderCellDef > N° Preguntas </th>
    <td mat-cell *matCellDef="let element"> {{element.numeroDePreguntas}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="usr_email">
    <th mat-header-cell *matHeaderCellDef> Categoría </th>
    <td mat-cell *matCellDef="let element"> 
      
      <div *ngIf="element.categoria">{{element.categoria.titulo}} </div>
      <div *ngIf="!element.categoria">Sin categoría</div>
    </td>
    
  </ng-container>

  <ng-container matColumnDef="acciones">
    <th mat-header-cell *matHeaderCellDef> Acciones </th>
    <td mat-cell *matCellDef="let element">
      <button mat-mini-fab class="custom-btn" id="{{element.examenId}}" (click)="editExamen($event)"
      aria-label="Example icon button with a menu icon">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-mini-fab color="warn" id="{{element.examenId}}"  (click)="openDialogEliminar($event)"
      aria-label="Example icon button with a menu icon">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [pageSizeOptions]="[5, 10, 20]"
               showFirstLastButtons
               aria-label="Select page of periodic elements">
</mat-paginator>
  
