<mat-card-header>
  <h2 class="perfilr">Editar User</h2>
</mat-card-header>
<mat-card-content>
  <form [formGroup]="userDataForm" (ngSubmit)="guardarUsuario()">
    <!-- Nombre -->
    <mat-form-field class="full-width">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="name" required maxlength="30">
      <mat-error *ngIf="userDataForm.get('name')?.hasError('required')">
        *Nombre es requerido.
      </mat-error>
      <mat-error *ngIf="userDataForm.get('name')?.hasError('maxlength')">
        *Nombre no debe exceder 30 caracteres
      </mat-error>
    </mat-form-field>
    <!-- Apellido Paterno -->
    <mat-form-field class="full-width">
      <mat-label>Apellido Paterno</mat-label>
      <input matInput formControlName="firstLastname" required maxlength="30">
      <mat-error *ngIf="userDataForm.get('firstLastname')?.hasError('required')">
        *Apellido Paterno es requerido
      </mat-error>
      <mat-error *ngIf="userDataForm.get('firstLastname')?.hasError('maxlength')">
        *Apellido Paterno no debe exceder 30 caracteres
      </mat-error>
    </mat-form-field>
    <!-- Apellido Materno -->
    <mat-form-field class="full-width">
      <mat-label>Apellido Materno</mat-label>
      <input matInput formControlName="secondLastname" required maxlength="30">
      <mat-error *ngIf="userDataForm.get('secondLastname')?.hasError('required')">
        *Apellido Materno es requerido
      </mat-error>
      <mat-error *ngIf="userDataForm.get('secondLastname')?.hasError('maxlength')">
        *Apellido Materno no debe exceder 30 caracteres
      </mat-error>
    </mat-form-field>
    <!-- Rut -->
    <mat-form-field class="full-width">
      <mat-label>Rut</mat-label>
      <input matInput formControlName="rut" required maxlength="30" readonly>
    </mat-form-field>
    <!-- Telefono -->
    <mat-form-field class="full-width">
      <mat-label>Teléfono</mat-label>
      <input matInput formControlName="phone" required maxlength="30">
    </mat-form-field>
    <!-- Email -->
    <mat-form-field class="full-width">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" readonly>
    </mat-form-field>
    <!-- rol -->
    <!-- Botones de acción -->
    <div class="form-group text-center d-flex">
      <button mat-raised-button class="botonprimario">Guardar</button>
      <button mat-raised-button class="botonprimario" (click)="cancelar()">Cancelar</button>
    </div>
  </form>
</mat-card-content>