<div class="bootstrap-wrapper">
  <div class="container-fluid">
    <h2 style="color: #F57C27;">Exámenes disponibles</h2>
    <div class="exams-container">
      <div *ngFor="let e of herramientas" class="exam-card">
        <mat-card class="m-2 example-card" style=" background-color: #f2f2f2;">

          <mat-card-header>
            <mat-card-title>

              {{ e.productVersion.product.name}}
            </mat-card-title>
            <mat-card-subtitle>
              Nivel: {{ e.level?.description}}
            </mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>

          </mat-card-content>

          <mat-card-actions>
            <button mat-button style="color: #F57C27;" class="botonmath"
              [routerLink]="'/user-dashboard/instrucciones/' +e.id?.toString()">
              <mat-icon>play_circle_outline</mat-icon> Empezar
            </button>

          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-md-12" *ngIf="herramientas.length === 0">
        <mat-card>
          <mat-card-content>
            <h3>No hay exámenes para las herramientas seleccionadas</h3>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>