  .botonmath {
    z-index: 0 !important;
  }


  .exams-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Creates two columns with equal width */
    gap: 20px;
    /* Adjust the gap between columns */
    padding: 20px;

    /* Optional padding for better spacing */
    @media (max-width: 600px) {
      grid-template-columns: 1fr;
      /* Set to one column for smaller screens */
    }
  }

  .exam-card {
    min-width: 20vw;

    @media (max-width: 600px) {
      min-width: 50vw;
    }
  }