<div class="bootstrap-wrapper ">
  <div class="container-fluid ">
    <mat-card class="custom-mat-card">
      <h2 style="color: #F57C27;">Dificultad</h2>
      <section class="example-section" [formGroup]="pickLevelForm">
        <mat-checkbox class="example-margin" formControlName="easy" (change)="filterExams()">Difícil</mat-checkbox>
        <mat-checkbox class="example-margin" formControlName="medium" (change)="filterExams()">Medio</mat-checkbox>
        <mat-checkbox class="example-margin" formControlName="hard" (change)="filterExams()">Fácil</mat-checkbox>
      </section>
    </mat-card>

    <h2 style="color: #F57C27;">Exámenes disponibles</h2>
    <div class="exams-container">
      <div *ngFor="let e of herramientasToShow" class="exam-card">
        <mat-card class="m-2 example-card" style=" background-color: #f2f2f2;">

          <mat-card-header>
            <mat-card-title>

              {{ e.productVersion.product!.name}}
            </mat-card-title>
            <mat-card-subtitle>
              Nivel: {{ e.level?.description}}
            </mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>

          </mat-card-content>
          <mat-card-actions>


            <button mat-button style="color: #F57C27;" class="botonmath" (click)="goToInstructions(e)">
              <mat-icon>play_circle_outline</mat-icon> Empezar
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-md-12" *ngIf="herramientas.length === 0">
        <mat-card>
          <mat-card-content>
            <h3>No hay exámenes para las herramientas seleccionadas</h3>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>