<form  class="observation-form" [formGroup]="formulario">
<mat-card class="elitsoft-card" *ngFor="let usuario of usuarioData">


  <mat-card-content >
    <!-- Sección del autor de la observación -->
    <section class="user-info">
      <mat-card-title>Observación realizada por:</mat-card-title>
      <div class="author-details">
        <div class="author-name">{{ usuario.author.name }} {{ usuario.author.firstLastname }} {{ usuario.author.secondLastname }}</div>
        <div class="author-email">{{ usuario.author.email }}</div>
        <div class="author-date">{{ usuario.author.date | date: 'dd/MM/yyyy HH:mm:ss' }}</div>
      </div>
    </section>

    <!-- Sección del responsable de la actualización -->
    <section class="responsable">
      <mat-card-title>Actualizado por:</mat-card-title>
      <div class="author-details">
        <div class="author-name">{{ usuario.lastUpdateResponsible.name }} {{ usuario.lastUpdateResponsible.firstLastname }} {{ usuario.lastUpdateResponsible.secondLastname }}</div>
        <p class="author-email">{{ usuario.lastUpdateResponsible.email }}</p>
        <p class="author-date">{{ usuario.lastUpdateResponsible.date | date: 'dd/MM/yyyy HH:mm:ss' }}</p>
      </div>
    </section>

    <!-- Sección de descripción -->
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Descripción</mat-label>
      <textarea matInput id="description" name="description" [value]="usuario.description" readonly></textarea>
    </mat-form-field>
    
    <mat-card >
      <button mat-raised-button class="botonprimario" (click)="editarObservacion(usuario)">Editar</button>
    </mat-card>

    <button mat-icon-button (click)="eliminarObservacion(usuario.id)">
      <mat-icon>delete</mat-icon>
    </button>
    
  </mat-card-content>
</mat-card>

<mat-card class="elitsoft-card">
  <mat-form-field class="full-width" appearance="outline">
    <mat-label>Descripción</mat-label>
    <textarea matInput id="description" name="description" formControlName="description"></textarea>
  </mat-form-field>
  <button mat-raised-button class="botonprimario" (click)="nuevaObs(data)">Crear Nueva Observación</button>
</mat-card>


</form>
