<p class="admin-panel-text">Panel de Administrador</p>
<h1 class="mt-4">Preguntas de {{ exam_titl }}</h1>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="container text-center mt-3">
        <a class="btn btn-primary" [routerLink]="'/admin/add-pregunta/' + exam_id + '/' + exam_titl">
          Agregar pregunta
        </a>
      </div>
      <div class="container text-center mt-4">
        <button routerLink="/admin/view-examenes" class="btn btn-primary">Volver a la Lista de Exámenes</button>
      </div>
      <div *ngFor="let p of preguntas; let i = index" class="card mt-4">
        <div class="card-body">
          <p>
            <b>{{ i + 1 }})</b>
            <span class="ml-2">{{ p.prg }}</span>
          </p>
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <p><b>1) {{ p.prg_opc1 }}</b></p>
              </div>
              <div class="col-md-6">
                <p><b>2) {{ p.prg_opc2 }}</b></p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <p><b>3) {{ p.prg_opc3 }}</b></p>
              </div>
              <div class="col-md-6">
                <p><b>4) {{ p.prg_opc4 }}</b></p>
              </div>
            </div>
            <hr>
            <p class="mt-2">
              <b>Respuesta correcta: {{ p.prg_resp }}</b>
            </p>
            <p class="mt-2">
                <b>Puntaje pregunta: {{ p.prg_ptje_prg }}</b>
            </p>
          </div>
        </div>
        <div class="card-footer">
          <button class="btn btn-danger" (click)="eliminarPregunta(p.prg_id)">Eliminar</button>
          <a class="btn btn-primary ml-2" [routerLink]="'/admin/actualizar-pregunta/' + p.prg_id">Actualizar</a>
        </div>
      </div>
    </div>
  </div>
</div>

