<div class="hamburger-menu">
  <input id="menu__toggle" type="checkbox" />
  <label class="menu__btn" for="menu__toggle">
    <span></span>
  </label>

  <ul class="menu__box">
    <li>
      <a routerLink="/admin/welcome-admin" routerLinkActive="active" class="menu__item">
      Inicio
      </a>
    </li>
    <li><a routerLink="/admin/profile-admin" routerLinkActive="active" class="menu__item">Perfil</a></li>
    <li><a routerLink="/admin/view-categorias" routerLinkActive="active" class="menu__item">Categorías</a></li>

  <mat-sidenav-container class="example-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <ul class="list-unstyled components">
          <li>
            <a routerLink="/admin/welcome-admin"routerLinkActive="active">
              <mat-icon mat-list-icon class="custom-icon">home</mat-icon>  Inicio
            </a>
        </li>
        <li>
          <a routerLink="/admin/profile-admin"routerLinkActive="active">
            <mat-icon mat-list-icon class="custom-icon">assignment_ind</mat-icon>  Perfil
          </a>
      </li>
      <li>
        <a routerLink="/admin/view-categorias"routerLinkActive="active">
          <mat-icon mat-list-icon class="custom-icon">folder</mat-icon>  Categorías
        </a>
      </li>
      <li>
        <a routerLink="/admin/view-examenes"routerLinkActive="active">
          <mat-icon mat-list-icon class="custom-icon">assignment</mat-icon>  Exámenes
        </a>
      </li>
      <li>
        <a routerLink="/admin/view-usuarios"routerLinkActive="active">
          <mat-icon mat-list-icon class="custom-icon">supervised_user_circle</mat-icon> Usuarios
        </a>
      </li>
              <mat-divider></mat-divider>
        <li style="cursor: pointer;">
          
          <a [matMenuTriggerFor]="afterMenu"><mat-icon mat-list-icon class="custom-icon">list</mat-icon> Submenú</a>
          <mat-menu #afterMenu="matMenu" xPosition="after">
            <a href="https://www.elitsoft.cl/" mat-menu-item>Inicio</a>
          <a href="https://www.elitsoft.cl/nosotros" mat-menu-item>Nosotros</a>
          <a href="https://www.elitsoft.cl/servicios" mat-menu-item>Servicios</a>
          <a href="https://www.elitsoft.cl/tecnologías" mat-menu-item>Tecnologías</a>
          <a href="https://www.elitsoft.cl/contacto" mat-menu-item>Contacto</a>
          <a href="#" mat-menu-item>Trabaja con Nosotros</a>
          <a href="https://www.elitsoft.cl/blog" mat-menu-item>Blog</a>

