.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
  
}
h1.example-app-name {
  margin-left: 8px;
}
.custom-icon{
  margin-right: 4px;
}
.list-unstyled li a {
  display: block;
  padding: 10px 15px;
  color: #6c757d; /* Cambia el color del texto a gris */
  text-decoration: none;
  transition: background-color 0.3s;
  display: flex;
  align-self: center;
}
.list-unstyled li a:hover {
  background-color: #555;
  color: #fff;
}

.list-unstyled li a.active {
  background-color: #f39c12;
  color: #fff;
}
.custom-icon2 {
  color: #c48520;/* Cambia el color del texto a gris */

}
/* Asegura que el navbar tenga margen superior */
.navbar {
  margin-top: 10px; /* Ajusta el valor según sea necesario */
  float: right;
}

.elitsoft img {
  max-width: 60%; /* Para que la imagen sea responsive */
  display: flex;
  position: relative; /* Necesario para la animación */
  animation: reveal 2s ease-in-out forwards; /* Animación de revelación (1 vez) */
  clip-path: polygon(100% 100%, 0% 0%, 100% 100%, 0% 100%);

}

@keyframes reveal {
  0% {
      clip-path: polygon(100% 0%, 100% 100%, 100% 100%, 100% 0%); /* Establece un recorte completo inicial (imagen invisible) */
  }
  100% {
      clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%); /* Elimina el recorte, revelando la imagen completa */
  }
}
.belowMenu{
  display: block;
  padding: 10px 15px;
  color: #6c757d; /* Cambia el color del texto a gris */
  text-decoration: none;
  transition: background-color 0.3s;
  display: flex;
  align-self: center;
}
.belowMenu:hover{
  background-color: #555;
  color: #fff;
}

@media (min-width: 1300px) {

  .example-container{
    display: none;
    pointer-events: none;
  }

  .example-sidenav-container{
    display: none;
    pointer-events: none;
  }

  .contenido-test{display: none;
    pointer-events: none;}
    


}


