.mat-card-title {
  display: flex;
  align-items: center;
  gap: 10px; /* Añade espacio entre el ícono y el texto */
}

.mat-card-header {
  margin-bottom: 16px; /* Añade margen al fondo en lugar de usar <br> */
}

.mat-card-content {
  margin-left: 30px;
  margin-right: 30px; /* Asegúrate de que el margen derecho sea el mismo que el izquierdo */
}


ul {
  list-style: none; /* Elimina los estilos de lista predeterminados */
  padding-left: 0; /* Elimina el padding izquierdo */
}
li {
  display: flex;
  align-items: center;
  gap: 10px; /* Añade espacio entre el ícono y el texto */
  margin-bottom: 8px; /* Añade un margen inferior para separar los ítems */
}
.material-icons {
  font-size: 24px; /* Ajusta el tamaño de los íconos */
}
