.mat-card-title {
  display: flex;
  align-items: center;
  gap: 10px; 
}
.mat-card-header {
  margin-bottom: 16px; 
}
.mat-card-content {
  margin-left: 30px;
  margin-right: 30px; 
}
ul {
  list-style: none; 
  padding-left: 0; 
}

li {
  display: flex;
  align-items: center;
  gap: 10px; 
  margin-bottom: 8px; 
}
.material-icons {
  font-size: 24px; 
}