<mat-card class="profile-container">
  <h4 class="perfilr">Detalles del perfil</h4>
  <mat-spinner class="spinner-color" *ngIf="!isLoaded"></mat-spinner>
  <div class="div-inputs" *ngIf="isLoaded">
    <form [formGroup]="form" (ngSubmit)="submitForm($event)">
      <div class="row mb-3">
        <div class="col-sm-10">
          <mat-form-field appearance="outline">
            <mat-label><mat-icon>person</mat-icon> Nombres</mat-label>
            <input matInput id="inputNombres" formControlName="name" name="inputNombres"
              [ngClass]="{'is-invalid': form.get('name')?.invalid && form.get('name')?.touched}">
            <mat-error *ngIf="form.get('name')?.hasError('required') && form.get('name')?.touched">Debe ingresar
              nombre</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-sm-10">
          <mat-form-field appearance="outline">
            <mat-label><mat-icon>person</mat-icon> Apellido Paterno</mat-label>
            <input matInput id="inputApellidop" formControlName="firstLastname" name="inputApellidop"
              [ngClass]="{'is-invalid': form.get('firstLastname')?.invalid && form.get('firstLastname')?.touched}">
            <mat-error
              *ngIf="form.get('firstLastname')?.hasError('required') && form.get('firstLastname')?.touched">Debe
              ingresar apellido</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-sm-10">
          <mat-form-field appearance="outline">
            <mat-label><mat-icon>person</mat-icon> Apellido Materno</mat-label>
            <input matInput id="inputApellidom" formControlName="secondLastname" name="inputApellidom"
              [ngClass]="{'is-invalid': form.get('secondLastname')?.invalid && form.get('secondLastname')?.touched}">
            <mat-error
              *ngIf="form.get('secondLastname')?.hasError('required') && form.get('secondLastname')?.touched">Debe
              ingresar apellido</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-sm-10">
          <mat-form-field appearance="outline">
            <mat-label><mat-icon>email</mat-icon> Email</mat-label>
            <input matInput id="email" formControlName="email" name="email">
          </mat-form-field>
        </div>
      </div>
      <button mat-raised-button type="button" class="botonprimario m-2" (click)="toggleEditable()" *ngIf="!editable"
        matTooltip="Presione para editar el formulario">
        <mat-icon>edit</mat-icon>Editar
      </button>
      <button mat-raised-button type="submit" class="botonprimario m-2" *ngIf="editable">Guardar</button>
    </form>
  </div>
</mat-card>