
  <nav class="sidebar">

    <ul class="list-unstyled components">
        <li>
            <a routerLink="/datos_personales"routerLinkActive="active">Datos Personales</a>
        </li>
      <li>
        <a routerLink="/herramientas-tecnologias"routerLinkActive="active">Herramientas y Tecnologias</a>
      </li>
      <li>
        <a routerLink="/informacion-academica"routerLinkActive="active">Información Academica</a>
      </li>
      <li>
        <a routerLink="/informacion-laboral"routerLinkActive="active">Información Laboral</a>
      </li>
      <li>
        <a routerLink="/cargo-usuario"routerLinkActive="active">Cargo</a>
      </li>
      <li class="nav-item">
        <a (click)="cerrarSesion()" class="nav-link" style="cursor: pointer;">Cerrar Sesión</a>
      </li>
 
    </ul>
    
  </nav>
  
