
  <nav class="sidebar">

    <ul class="list-unstyled components">
        <li>
            <a routerLink="/datos_personales"routerLinkActive="active">
              <mat-icon mat-list-icon class="custom-icon">assignment_ind</mat-icon>  Datos Personales
            </a>
        </li>
      <li>
        <a routerLink="/user/herramientas-tecnologias"routerLinkActive="active">
          <mat-icon mat-list-icon class="custom-icon">build</mat-icon>  Herramientas y Tecnologias
        </a>
      </li>
      <li>
        <a routerLink="/user/informacion-academica"routerLinkActive="active">
          <mat-icon mat-list-icon class="custom-icon">school</mat-icon>  Información Academica
        </a>
      </li>
      <li>
        <a routerLink="/user/informacion-laboral"routerLinkActive="active">
          <mat-icon mat-list-icon class="custom-icon">work</mat-icon>  Información Laboral
        </a>
      </li>
      <li>
        <a routerLink="/user/cargo-usuario"routerLinkActive="active">
          <mat-icon mat-list-icon class="custom-icon">person_pin</mat-icon>  Cargo
        </a>
      </li>
      <li>
        <a routerLink="/user-dashboard/0"routerLinkActive="active">
          <mat-icon mat-list-icon class="custom-icon">question_answer</mat-icon> Portal de Exámenes
        </a>
      </li>
      <br><br><br><br><br><br><br><br><br><br>
      
      <li class="nav-item">
        <a (click)="cerrarSesion()" class="nav-link" style="cursor: pointer;">
          <mat-icon mat-list-icon class="custom-icon">no_meeting_room</mat-icon>  Cerrar Sesión
        </a>
      </li>
 
    </ul>
    
  </nav>
  
