.contenedorform {
    display: flex;
    margin-top: 10%;
    margin-bottom: 10%;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    box-shadow: none;
  }
  .mat-form-field{
    width: 100%;
  }
  .ng-star-inserted {
    width: 100% !important;
    padding-left: 2%;
    padding-right: 2%;
    }
    .mat-card {
      width: 100%; 
      box-sizing: border-box; 
    }
    .perfilr {
      width: 100%;
      text-align: center; 
    }
    
    .guardarycancelar
  {
  background-color: none;
  box-shadow: none;
  width: 100%;
  }
