
<div class="card">
  <div class="card-header ">
    <div class="card-custom">
      <button mat-mini-fab color="primary" class="btn-custom" mat-dialog-close
      aria-label="Example icon button with a menu icon">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>

    <h2 class="card-title-custom">Perfil de User </h2>
    </div>
  </div>
  <div class="card-body">
    <div class="user-profile">

      <!-- Agrega más campos del perfil según tu entidad User -->

  <mat-tab-group>

    <mat-tab label="Datos Personales">
      <mat-list>
      <mat-list-item>
        <span matListItemTitle>{{ usuarioData.name }} {{ usuarioData.firstLastname }} {{ usuarioData.secondLastname }}</span>
        <span matListItemLine>Nombre</span>
        <div matListItemIcon>
          <mat-icon>person</mat-icon>
        </div>

      </mat-list-item>
      <mat-list-item>
        <span matListItemTitle>{{ usuarioData.rut }}</span>
        <span matListItemLine>Rut</span>
        <div matListItemIcon>
          <mat-icon>credit_card</mat-icon>
        </div>
      </mat-list-item>
      <mat-list-item>
        <span matListItemTitle>{{ usuarioData.email}}</span>
        <span matListItemLine>Correo Electrónico</span>
        <div matListItemIcon>
          <mat-icon>email</mat-icon>
        </div>
      </mat-list-item>
      <mat-list-item>
        <span matListItemTitle>{{ usuarioData.phone}}</span>
        <span matListItemLine>Teléfono</span>
        <div matListItemIcon>
          <mat-icon>phone</mat-icon>
        </div>
      </mat-list-item>
      <mat-list-item>
        <span matListItemTitle *ngIf="usuarioData.linkedin">{{ usuarioData.linkedin}}</span>
        <span matListItemTitle *ngIf="!usuarioData.linkedin">No especificado</span>
        <span matListItemLine>LinkedIn</span>

        <div matListItemIcon>
          <mat-icon>public</mat-icon>
        </div>
      </mat-list-item>
      </mat-list>
    </mat-tab>
    <mat-tab label="Información Laboral">
        <mat-list> 
        <mat-list-item *ngFor="let cargo of usuarioData.userJob">
          <span matListItemTitle>{{ cargo.cargoElitsoft.crg_elit_nom }}</span>
          <span matListItemLine>Cargo a postular</span>
          <span matListItemLine>Pretensión de renta: ${{cargo.salary }}</span>

          <!-- <span matListItemLine *ngIf="cargo.crg_prf">Otro cargo preferente: {{cargo.crg_prf }}</span> -->

          <div matListItemIcon>
            <mat-icon>forward</mat-icon>
          </div>
        </mat-list-item>

        <div class="mb-3 mt-1"> Experiencia laboral:</div>

        <mat-list-item *ngFor="let employment of usuarioData.laborales">
          <span matListItemTitle>{{ employment.position }}</span>

          <span matListItemLine>
            {{ employment.company }}
          </span>



            <div *ngFor="let h of employment.herramientas; let i = index" matListItemLine>
              <mat-chip  class="chips" >
                {{ h.productVersion.prd.prd_nom }} ({{ h.productVersion.vrs_name }})  - (Exp:{{ h.yearsOfExperience }} año/s)
              </mat-chip>
            </div>

          <div matListItemIcon>
            <mat-icon>work</mat-icon>
          </div>

          <span matListItemMeta> <div>Desde</div> {{ employment.startDate }} </span>
          <span matListItemMeta> <div>Hasta</div> {{ employment.endDate }} </span>
        </mat-list-item>

      </mat-list>
    </mat-tab>
    <mat-tab label="Información Académica">
      <mat-list>
      <mat-list-item *ngFor="let academica of usuarioData.academicas">
        <span matListItemTitle>{{ academica.degree }}</span>

        <span matListItemLine>{{academica.university }}</span>

        <span matListItemLine>{{academica.status }}</span>

        <div matListItemIcon>
          <mat-icon>school</mat-icon>
        </div>
        <span matListItemMeta> <div>Desde</div> {{ academica.startDate }} </span>
        <span matListItemMeta> <div>Hasta</div> {{ academica.endDate }} </span>

      </mat-list-item>
    </mat-list>
    </mat-tab>


    <mat-tab label="Observaciones">

      <mat-stepper *ngIf="mostrarStepper" headerPosition="bottom" #stepper id="miStepper" class="observacion-comentario">
              <mat-step>
          <ng-template matStepLabel>Categoría</ng-template>
          <mat-form-field>
            <mat-label>Seleccione su categoría</mat-label>
            <mat-select [(ngModel)]="selectedCategory" (selectionChange)="onCategorySelectionChange()">
              <mat-option *ngFor="let observadorCat of categorias" [value]="observadorCat.id">
                {{ observadorCat.cat_description }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div>
            <button mat-button matStepperNext class ="botonprimario m-1">Siguiente</button>
          </div>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Observación</ng-template>
          <mat-label>Escribe una observación...</mat-label>
          <br>
          <textarea matInput [(ngModel)]="nuevaObservacion" class="nueva-observacion"></textarea>
          <div>
            <button mat-button matStepperPrevious class ="botonprimario m-1">Regresar</button>
            <button mat-button matStepperNext class ="botonprimario m-1">Siguiente</button>
          </div>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Aprobaciones</ng-template>

          <!-- Gerencia -->
          <mat-card-title>Gerencia</mat-card-title>
          <mat-form-field>
            <mat-label>Aprobación</mat-label>
            <mat-select [(ngModel)]="observadoresCat.apr_ger">
              <mat-option value="Si">Si</mat-option>
              <mat-option value="No">No</mat-option>
            </mat-select>
          </mat-form-field>

          <!-- Operación -->
          <mat-card-title>Operación</mat-card-title>
          <mat-form-field>
            <mat-label>Aprobación</mat-label>
            <mat-select [(ngModel)]="observadoresCat.operationalApproval">
              <mat-option value="Si">Si</mat-option>
              <mat-option value="No">No</mat-option>
            </mat-select>
          </mat-form-field>

          <!-- Técnica -->
          <mat-card-title>Técnica</mat-card-title>
          <mat-form-field>
            <mat-label>Aprobación</mat-label>
            <mat-select [(ngModel)]="observadoresCat.technicalApproval">
              <mat-option value="Si">Si</mat-option>
              <mat-option value="No">No</mat-option>
            </mat-select>
          </mat-form-field>

          <div>
            <button mat-button matStepperPrevious class="botonprimario m-1">Regresar</button>
            <!-- <button mat-button  class="botonprimario m-1" (click)="guardarObservacionCat(this.usuarioData.id)">Guardar</button> -->

          </div>
        </mat-step>
      </mat-stepper>

      <!-- Sección para mostrar observaciones existentes -->



      <div *ngFor="let observadores of observadoresData; let i = index" class="observacion-comentario">
        <!-- Caja de comentario para cada observación con clase "comentario-box" -->
        <div *ngIf="enEdicion !== observadores.obs_id">

        <mat-card class="comentario-card">
          <mat-card>
            <mat-card-header>
              <div mat-card-avatar class="avatar">
              </div>

              <mat-card-title>Creador por: {{ observadores.name }}</mat-card-title>
              <mat-card-subtitle>Modificado por: {{ observadores.usr2_nom }}</mat-card-subtitle>
            </mat-card-header>
          </mat-card>
          <br>
          <mat-card-content>
            <mat-accordion>
              <mat-expansion-panel (opened)="panelOpenState = true"
                                   (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                   Aprobaciones:
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-card-subtitle>{{ observadores.cat_description }}</mat-card-subtitle>
                <mat-card-subtitle>Aprobación: Gerencia</mat-card-subtitle>
                <mat-label>{{ observadores.apr_ger }}</mat-label>
                <mat-card-subtitle>Aprobación: Operaciones</mat-card-subtitle>
                <mat-label>{{ observadores.operationalApproval }}</mat-label>
                <mat-card-subtitle>Aprobación: Técnica</mat-card-subtitle>
                <mat-label>{{ observadores.technicalApproval }}</mat-label>
              </mat-expansion-panel>
            </mat-accordion>
            <br>
            <div *ngIf="enEdicion === observadores.obs_id">
              <mat-form-field class="ancho-completo">
                <textarea matInput [(ngModel)]="observadores.description"></textarea>
              </mat-form-field>
            </div>
            <p *ngIf="enEdicion !== observadores.obs_id" class="observacion-texto">{{ observadores.description }}</p>
            <div class="acciones-comentario">
              <button mat-button class="botonprimario" *ngIf="enEdicion !== observadores.obs_id" (click)="editarObservacion(observadores.obs_id)">Editar</button>

            </div>
          </mat-card-content>

          <mat-card class="observacion-card">
            <mat-card-content>
              <div class="fecha-info">
                <mat-chip-list>
                  <mat-chip color="primary" selected>
                    Creado: {{observadores.creationDate | date:'medium' }}
                  </mat-chip>
                  <mat-chip *ngIf="observadores.modificationDate" color="accent" selected>
                    Modificado: {{ observadores.modificationDate | date:'medium' }}
                  </mat-chip>
                </mat-chip-list>
              </div>
            </mat-card-content>
          </mat-card>
        </mat-card>
      </div>
      </div>

      <!-- Botón para guardar la nueva observación -->
      <button mat-raised-button class="botonprimario m-2" (click)="agregarNuevaObservacion()">Agregar Nueva Observación</button>

      <button mat-raised-button class="botonprimario m-2" (click)="salir()" aria-label="Salir">Cerrar Ventana</button>
    </mat-tab>
    </mat-tab-group>




   </div>
  </div>
</div>
