  /* Estilo para el mat-card */
  mat-card {
    background-color: white; /* Fondo blanco */
    border: 1px solid #ccc; /* Borde fino gris */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
    display: flex;
    flex-direction: column;
  }

  /* Estilo para los elementos de mat-action-list */
  mat-card mat-list-item {
    color: black; /* Texto negro */
    background-color: white; /* Fondo blanco */
    border: none; /* Eliminar bordes */
    margin: 5px 0; /* Espaciado entre elementos */
  }

  /* Estilo para el mat-subheader */
  mat-card div[mat-subheader] {
    color: black; /* Texto negro */
    font-weight: bold; /* Texto en negrita */
  }