<mat-card>
    <mat-action-list>
     <!-- <div mat-subheader>Menu</div>
      <button mat-list-item routerLink="/user-dashboard/user-profile">
        <mat-icon mat-list-icon>account_circle</mat-icon>Perfil
      </button> -->
      <div mat-subheader>Categorías disponibles</div>
      <button routerLink="/user-dashboard/0" mat-list-item>
        <mat-icon mat-list-icon>quiz</mat-icon>Exámenes
      </button>
      <button [routerLink] = "'/user-dashboard/'+c.categoriaId" mat-list-item *ngFor = "let c of categorias">
        <mat-icon mat-list-icon>account_circle</mat-icon> {{ c.titulo }}
      </button>
      <button mat-list-item (click) = "logout()">
        <mat-icon mat-list-icon>logout</mat-icon>Salir
      </button>
    </mat-action-list>
  </mat-card>
  
