.container {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.preguntas-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.questions-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.question-item {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.question-content {
    flex-grow: 1;
}

.question-level {
    padding: 8px;
    border-radius: 4px;
    font-weight: bold;
    width: 200px;
}


.level-hard {
    background-color: #ff5252;
    color: white;
}

.level-medium {
    background-color: #fbc02d;
    color: white;
}

.level-easy {
    background-color: #66bb6a;
    color: white;
}

.botonprimario {

    margin-top: 10px;
}

.button-container {
    margin-left: auto;
}

/* Media Queries para dispositivos móviles */
@media only screen and (max-width: 768px) {
    .question-level {
        max-width: 120px;
        /* Reducir el ancho máximo en dispositivos móviles */
    }

    .botonprimario {
        margin-top: 10px;
        display: block;
        width: 100%;
        /* Asegurar que el botón ocupe toda la anchura en dispositivos móviles */
    }

    .button-container {
        margin-top: 10px;
        display: flex;
        justify-content: flex-end;
        /* Alinear los botones a la derecha en dispositivos móviles */
    }
}