<div class="examen-form card mt-5 border-0">
  <div class="card-body d-flex justify-content-center align-items-center">
      <form [formGroup]="examenForm" (ngSubmit)="saveExamen()">
        <div class="form-group">
          <mat-form-field appearance="fill" class="field-custom">
            <mat-label>Título del Examen </mat-label>
            <input matInput formControlName="titulo" name="titulo" required>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field appearance="fill" class="field-custom">
            <mat-label>Descripción</mat-label>
            <textarea matInput formControlName="descripcion" name="descripcion" rows="2"></textarea>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field appearance="fill" class="field-custom">
            <mat-label>Puntos máximos</mat-label>
            <input matInput formControlName="puntosMaximos" name="puntosMaximos" required>
          </mat-form-field>
        </div>
        <div formGroupName="categoria" class="form-group">
          <mat-form-field appearance="fill" class="field-custom">
            <mat-label>Categoría</mat-label>
            <mat-select formControlName="categoriaId">
              <mat-option value="">Seleccione un categoría</mat-option>
              <mat-option [value]="categoria.categoriaId" *ngFor="let categoria of categorias">{{ categoria.titulo }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="" formArrayName="productos">
          <div [formGroupName]="0" class="form-group">
            <mat-form-field appearance="fill" class="field-custom">
              <mat-label>Producto</mat-label>
              <mat-select formControlName="prd_id">
                <mat-option value="">Seleccione un producto asociado</mat-option>
                <mat-option [value]="producto.prd_id" *ngFor="let producto of productosDisponibles">{{ producto.prd_nom }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <!-- Agrega el siguiente bloque dentro de tu formulario -->
        <div class="form-group">
          <mat-form-field appearance="fill" class="field-custom">
            <mat-label>Nivel de Dificultad</mat-label>
            <mat-select formControlName="nivelDificultad">
              <mat-option value=3>Bajo</mat-option>
              <mat-option value=2>Medio</mat-option>
              <mat-option value=1>Alto</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="" formArrayName="preguntas">
          <div class="mt-5" *ngFor="let pregunta of preguntas.controls; let i = index">
            <div [formGroupName]="i">
              <div class="d-flex justify-content-between align-items-center">
                <h2 class="mr-3">Pregunta {{ i + 1 }}:</h2>
                <button class="mb-3" mat-icon-button type="button" (click)="deletePregunta(i)">
                  <mat-icon>close</mat-icon>
                </button>
              </div>
              <div class="form-group">
                <mat-form-field appearance="fill" class="field-custom">
                  <mat-label>Contenido de la pregunta</mat-label>
                  <input matInput formControlName="contenido" required>
                </mat-form-field>
              </div>
              <div class="form-group">
                <mat-form-field appearance="fill"  class="field-custom">
                  <mat-label>Respuesta</mat-label>
                  <textarea matInput formControlName="respuesta" name="exam_desc" rows="2"></textarea>
                </mat-form-field>
              </div>
              <div class="form-group">
                <mat-form-field appearance="fill"  class="field-custom">
                  <mat-label>Opción 1</mat-label>
                  <input matInput formControlName="opcion1" required>
                </mat-form-field>
              </div>
              <div class="form-group">
                <mat-form-field appearance="fill"  class="field-custom">
                  <mat-label>Opción 2</mat-label>
                  <input matInput formControlName="opcion2" required>
                </mat-form-field>
              </div>
              <div class="form-group">
                <mat-form-field appearance="fill"  class="field-custom">
                  <mat-label>Opción 3</mat-label>
                  <input matInput formControlName="opcion3" required>
                </mat-form-field>
              </div>
              <div class="form-group">
                <mat-form-field appearance="fill"  class="field-custom">
                  <mat-label>Opción 4</mat-label>
                  <input matInput formControlName="opcion4" required>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-between align-items-center mt-3">
          <button mat-icon-button type="button" (click)="addPregunta()">
            <mat-icon>add</mat-icon>
          </button>
          <button mat-raised-button class="botonprimario" [disabled]="examenForm.invalid">Guardar</button>
        </div>
      </form>
    </div>
  </div>
  