mat-form-field {
    width: 100%;
}

input.mat-input,
textarea.mat-input-element {
    font-size: 16px;
    color: #333;
    /* Color del texto */
}

.field-custom {
    width: 27vw;
}


.preguntas-title {
    padding: 2vh 2vw 0 2vw;
    display: flex;
    justify-content: space-between;
}

.level-hard {
    color: white;
    background-color: red;
}

.level-medium {
    color: black;
    background-color: yellow;
}

.level-easy {
    color: white;
    background-color: green;
}

.level {
    text-align: center;
    border-radius: 50px;
    width: 10vw;
}

.question-description {
    display: flex;
    justify-content: space-between;
    align-items: center;
}