<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Información Laboral</title>
</head>
<link rel="stylesheet" href="\informacion-laboral.component.css">
<body>
  <div class="container-datos-personales">


    <div class="div-menu">
      <div class="btn-group-vertical" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" (change)="onRadio1Change()" autocomplete="off" >
        <label class="btn btn-outline-secondary" for="btnradio1">Datos Personales</label>

        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" (change)="onRadio2Change()" autocomplete="off"  >
        <label class="btn btn-outline-secondary" for="btnradio2" >Herramientas y Tecnologias </label>

        <input type="radio" class="btn-check" name="btnradio" id="btnradio3" (change)="onRadio3Change()" autocomplete="off" >
        <label class="btn btn-outline-secondary" for="btnradio3">Información Academica</label>

        <input type="radio" class="btn-check" name="btnradio" id="btnradio4" (change)="onRadio4Change()" autocomplete="off" >
        <label class="btn btn-outline-secondary" for="btnradio4">Información Laboral</label>

        <input type="radio" class="btn-check" name="btnradio" id="btnradio5" (change)="onRadio5Change()" autocomplete="off">
        <label class="btn btn-outline-secondary" for="btnradio5">Cargo</label>
      </div>
    </div>

    <div class="div-inputs">

      <form>

        <div class="row mb-3">
          <label for="inputCargo" class="col-sm-2 col-form-label">Cargo:</label>
          <div class="col-sm-10">
            <input type="inputCargo" class="form-control" id="inputCargo" [(ngModel)]="laboral.inf_lab_crg_emp" name="inputCargo" >
          </div>
        </div>
        <div class="row mb-3">
          <label for="inputNomEmp" class="col-sm-2 col-form-label">Nombre Empresa:</label>
          <div class="col-sm-10">
            <input type="inputNomEmp" class="form-control" id="inputNomEmp" [(ngModel)]="laboral.inf_lab_emp" name="inputNomEmp">
          </div>
        </div>
        <div class="row mb-3">
          <label for="inputActRea" class="col-sm-2 col-form-label">Actividades Realizadas:</label>
          <div class="col-sm-10">
            <input type="inputActRea" class="form-control" id="inputActRea" [(ngModel)]="laboral.inf_lab_act" name="inputActRea">
          </div>
        </div>
        <div class="row mb-3">
          <label for="inputFechaini" class="col-sm-2 col-form-label">Fecha Inicio:</label>
          <div class="col-sm-10">
            <input type="date" class="form-control" id="inputFechaini" [(ngModel)]="laboral.inf_lab_fec_ini" [min]="minFecha" name="inputFechaini">
          </div>
        </div>
        <div class="row mb-3">
          <label for="inputFechafin" class="col-sm-2 col-form-label">Fecha Termino:</label>
          <div class="col-sm-10">
            <input type="date" class="form-control" id="inputFechafin" [(ngModel)]="laboral.inf_lab_fec_fin" [min]="minFecha" name="inputFechafin">
          </div>
        </div>
        <div class="form-group">
          <label for="herramienta">Herramienta:</label>
          <select class="form-control" id="herramienta" [(ngModel)]="herramientas.herr_usr_id" name="productos">
            <option *ngFor="let herramienta of herramientasA" [value]="herramienta.herr_usr_id">
              {{ herramienta.prd_nom }}
            </option>
          </select>
        </div>

        <div class="div-form d-grid justify-content-end">
          <button type="submit" class="btn btn-primary btn-guardar" (click)="guardarLaboral()">GUARDAR</button>
        </div>
      </form>
    </div>

  </div>




</body>
</html>
