/* Estilos para la franja naranja en pantallas más grandes (por defecto) */
.container-datos-personales {
  display: flex;
  align-items: center;
  font-family: 'Meera Inimai', sans-serif;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 12px;
 padding: 5%;
 margin-top: 50px;
  border: 2px solid orange;
  border-radius: 10px;
}

.btn {
  font-size: 15px;
}

.div-menu {
  margin: 50px;
}

.form {
  width: fit-content;
}

.btn-guardar {
  background-color: #F76805;
  border-color: black;
  margin-top: 10px;
}

.bubble {
  display: inline-block;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 20px;
  background-color: #007bff;
  color: white;
  font-size: 14px;
  cursor: pointer;
}

/* Estilo cuando el mouse está sobre la burbuja */
.bubble:hover {
  background-color: #0056b3;
}


/* Media Query para pantallas más pequeñas (resolución móvil) */
@media (max-width: 768px) {
  .container-datos-personales {
/* Cambia el margen derecho para adaptarse al espacio disponible */
    padding-top: 5%;
    padding-bottom: 5%;
  }
  
}





