<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Información Laboral</title>
</head>
<link rel="stylesheet" href="\informacion-laboral.component.css">
<body>
  <app-sidebar-user></app-sidebar-user>
  <br>
  <app-sidebar-userdesk></app-sidebar-userdesk>
  <mat-card class="container-datos-personales">




    <div class="div-inputs" *ngIf="!creationMode" >
      <h4 class="perfilr">Información Laboral</h4>
      <div *ngFor="let labor of laborales">
        
        <div class="row celda-laboral">
          <div class="col-6 cargo">
            <h4 class="Titulos mb-5">Cargo</h4>
              <p>{{ labor.inf_lab_crg_emp}}</p>
          </div>

          <div class="col-2 fechas">
            <h4 class="Titulos mb-5">Fecha Inicio</h4>
            <p class="fechas2">{{ labor.inf_lab_fec_ini}}</p>
          </div>
          <div class="col-2 fechas">
            <h4 class="Titulos mb-5">Fecha Fin</h4>
            <p class="fechas2">
            {{ labor.inf_lab_fec_fin}}</p>
          </div>
          <div class="col-2">
          <div class="flex">
            <h4 class="Titulos  mb-4">Acciones</h4>

           <button mat-mini-fab  class="minifab m-1" (click)="editarLaboral(labor.inf_lab_id)"> 
            <mat-icon>edit</mat-icon>
           </button>

           <button mat-mini-fab  class="minifabdanger m-1" (click)="eliminarLaboral(labor.inf_lab_id)"> 
            <mat-icon>delete</mat-icon>
           </button>

          </div>


          </div>
        </div>
      </div>
      
      <div *ngIf="laborales.length === 0">
        No has definido ninguna experiencia laboral
      </div>
      


      <button  class="botonprimario m-2"mat-raised-button  (click)="addExperienceRow()" > + Añadir experiencia laboral</button>
      <button class="botonprimario m-2" mat-raised-button *ngIf="laborales.length > 0" (click)="redirectTo()">Siguiente</button>
    </div>

    
    <div class="div-inputs" *ngIf="creationMode">

      <form [formGroup]="form" (ngSubmit)="submitForm($event)">
        <h4 class="perfilr">Información Laboral</h4>
        <div class="row mb-3">
          <label for="inputCargo" class="col-sm-2 col-form-label">Cargo:</label>
          <div class="col-sm-10">
            <input type="inputCargo" class="form-control" id="inputCargo" formControlName="inf_lab_crg_emp">
          </div>
        </div>
        <div class="row mb-3">
          <label for="inputNomEmp" class="col-sm-2 col-form-label">Nombre Empresa:</label>
          <div class="col-sm-10">
            <input type="inputNomEmp" class="form-control" id="inputNomEmp" formControlName="inf_lab_emp">
          </div>
        </div>
        <div class="row mb-3">
          <label for="inputActRea" class="col-sm-2 col-form-label">Actividades Realizadas:</label>
          <div class="col-sm-10">
            <input type="inputActRea" class="form-control" id="inputActRea" formControlName="inf_lab_act">
          </div>
        </div>
        <div class="row mb-3">
          <label for="inputFechaini" class="col-sm-2 col-form-label">Fecha Inicio:</label>
          <div class="col-sm-10">
            <input type="date" class="form-control" id="inputFechaini" [min]="minFecha" formControlName="inf_lab_fec_ini" [max]="today">
          </div>
        </div>
        <div class="row mb-3">
          <label for="inputFechafin" class="col-sm-2 col-form-label">Fecha Termino:</label>
          <div class="col-sm-10">
            <input type="date" class="form-control" id="inputFechafin" [min]="minFecha" formControlName="inf_lab_fec_fin" [max]="today">
          </div>
        </div>


        <div class="row mb-3">
          <label for="inputHerramientas" class="col-sm-2 col-form-label">Tecnologías Utilizadas:</label>
          <div class="col-sm-10">
            <div *ngIf="herramientasDisponibles && checkboxFormCreated">
              <div  *ngFor="let herramienta of herramientasDisponibles; let i = index">
                <mat-checkbox type="checkbox"  [formControlName]="herramienta.herr_usr_id">
                {{ herramienta.versionProducto.prd.prd_nom }} (  {{ herramienta.versionProducto.vrs_name }}) </mat-checkbox>
              </div>
            </div>
          </div>
        </div>
   

       
        <div class="div-form d-grid justify-content-end">
          <div class="flex">
            <button class="botonprimario m-2" mat-raised-button (click)="goBack()"  >Cancelar</button>
            <button  class="botonprimario m-2" mat-raised-button [disabled]="!form.valid" type="submit"> Guardar</button>
          </div>
        </div>
      </form>
    </div>



</mat-card>


</body>
</html>
