.form-container {
    width: 300px;
    /* Ajusta el ancho según sea necesario */
    margin: 0 auto;
    /* Centra el formulario horizontalmente */
    padding: 20px;
}

/* Estilo para el campo de selección */
.form-field {
    width: 100%;
    margin-bottom: 20px;
}

/* Estilo para el botón de envío */
.botonprimario {
    width: 100%;
}