<nav class="sidebar">
    <!-- Logo o encabezado de la barra lateral -->
   <!-- <div class="sidebar-header">
        
      <h3></h3>
    </div> -->
  
    <!-- Opciones del menú -->
    <ul class="list-unstyled components">
        <li>
            <a routerLink="/admin/welcome-admin"routerLinkActive="active">Datos Personales</a>
        </li>
      <li>
        <a routerLink="/admin/profile-admin"routerLinkActive="active">Herramientas y Tecnologias</a>
      </li>
      <li>
        <a routerLink="/admin/view-categorias"routerLinkActive="active">Información Academica</a>
      </li>
      <li>
        <a routerLink="/admin/add-categoria"routerLinkActive="active">Información Laboral</a>
      </li>
      <li>
        <a routerLink="/admin/view-examenes"routerLinkActive="active">Cargo</a>
      </li>
    </ul>
    
  </nav>
  
