  
  <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop" aria-controls="staticBackdrop">
   Menú
  </button>
  
  <div class="offcanvas offcanvas-start" data-bs-backdrop="static" tabindex="-1" id="staticBackdrop" aria-labelledby="staticBackdropLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="staticBackdropLabel">Elitsoft</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <ul class="list-unstyled components">
        <li>
            <a routerLink="/admin/welcome-admin"routerLinkActive="active">Datos Personales</a>
        </li>
      <li>
        <a routerLink="/admin/profile-admin"routerLinkActive="active">Herramientas y Tecnologias</a>
      </li>
      <li>
        <a routerLink="/admin/view-categorias"routerLinkActive="active">Información Academica</a>
      </li>
      <li>
        <a routerLink="/admin/add-categoria"routerLinkActive="active">Información Laboral</a>
      </li>
      <li>
        <a routerLink="/admin/view-examenes"routerLinkActive="active">Cargo</a>
      </li>
    </ul>
    </div>
  </div>