/* Estilos para el Mat Dialog */

/* Fondo del Mat Dialog */
.mat-dialog-container {
  background-color: #f8f8f8; /* Color de fondo */
  border: 2px solid #F76805; /* Borde con color naranja */
  border-radius: 5px; /* Bordes redondeados */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra */
}

/* Estilos para el contenido del Mat Dialog */
mat-dialog-content {
  padding: 20px; /* Espaciado interior */
  color: #333; /* Color de texto */
}

/* Estilos para los botones dentro del Mat Dialog */
mat-dialog-actions button {
  margin-right: 10px; /* Espaciado entre botones */
  font-weight: bold; /* Texto en negrita */
}

/* Aplicar los estilos de los botones que proporcionaste */
mat-dialog-actions button.btn-primary {
  background-color: #F76805;
  border-color: #F76805;
  color: #fff;
}

mat-dialog-actions button.btn-primary:hover {
  background-color: #FFA500;
  border-color: #FFA500;
}

mat-dialog-actions button.btn-outline-primary {
  color: #F76805;
  border-color: #F76805;
}

mat-dialog-actions button.btn-outline-primary:hover {
  background-color: #F76805;
  color: #fff;
}
