<mat-card style="background-color: transparent; border: 0; box-shadow: none; padding-top: 5vh;">
  <p class="admin-panel-text">Panel de Entrevistador</p>
  <div class="profile-container">
      <div class="profile-box">
        <h2>Bienvenido Entrevistador </h2>
        <p></p>
        <p>Sus funciones:</p>
        <ul>
          <li>Agregar descripciones para el proceso de selección de postulantes </li>
          <li>Agregar observaciones de diferentes categorias: </li>
          <li>- Evaluaciones Operacionales</li>
          <li>- Evaluaciones Técnicas </li>
          <li>- Evaluaciones Gerenciales </li>
        </ul>
      </div>
    </div>
  </mat-card>
