
  <br>
  <br>
  <br>
  <br>
  <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($any($event))"
         class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} {{element.firstLastname}}  {{element.secondLastname}}  </td>
    </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef > Telefono </th>
      <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
    </ng-container>
    <!-- Weight Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Correo </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>
    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let element">
        <button mat-mini-fab class="minifab" id="{{element.id}}" matTooltip="Ver perfil" (click)="openUserProfile($event)" aria-label="Example icon button with a menu icon">
          <mat-icon>menu</mat-icon>
        </button>
      </td>
    </ng-container>
    <ng-container matColumnDef="tools">
      <th mat-header-cell *matHeaderCellDef> Herramientas </th>
      <td mat-cell *matCellDef="let element">{{element.tools}}</td>
    </ng-container>
    <ng-container matColumnDef="herr_ver">
      <th mat-header-cell *matHeaderCellDef> Versiones </th>
      <td mat-cell *matCellDef="let element">{{element.herr_ver}}</td>
    </ng-container>
    <ng-container matColumnDef="herr_exp">
      <th mat-header-cell *matHeaderCellDef> Años de experiencia </th>
      <td mat-cell *matCellDef="let element">{{element.herr_exp}}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>
