.btn-primary {
  background-color:#F57C27;
  border-color: #F57C27;
  color: #fff;
  font-weight: bold;
}
.btn-primary:hover {
  background-color: #FFA500; 
  border-color: #FFA500;
}
.btn-outline-primary {
  color: #F57C27;
  border-color: #F57C27;
  font-weight: bold;
}

.btn-outline-primary:hover {
  background-color: #F57C27;
  color: #fff; 
}
.custom-btn{
  background-color: #F57C27!important;
  margin-right: 1vw;
  margin-bottom: 1vh;
  color: white!important;
  margin-left: 2vw;
}
