.dashboard-panel {
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin-top: 10vh;
  border-radius: 10px;
  border: 1px solid #F57C27 !important;
}

.dashboard-panel:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

mat-toolbar {
  margin-bottom: 20px;
  background-color: transparent;
}

.filter-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.filter-input,
.filter-select,
.filter-slider {
  flex: 1 1 200px;
  display: flex;
  flex-direction: column;
}

.filter-slider {
  align-items: center;
 
}

.filter-slider mat-slider {
  width: 100%;
  width: 500px; /* Ancho deseado */
}

.filter-checkbox,
.filter-number {
  display: flex;
  align-items: center;
  justify-content: center;
}

button.mat-raised-button {
  font-size: 0.9rem;
  font-weight: 500;
}

button.mat-raised-button mat-icon {
  margin-right: 8px;
}

.custom-range {
  position: absolute;
  top: -10px;
  left: 0;
  right: 50;
  margin: auto;
  font-size: 16px;
}


/* Estilos para el mat-card con clase filter-card */
.filter-card {
  padding: 16px;
  /* Espaciado interno */
  margin: 16px;
  /* Margen externo */
  border: 1px solid #ccc;
  /* Borde del mat-card */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* Sombra */
  background-color: #fff;
  /* Color de fondo */
  border-radius: 8px;
  /* Radio de borde para esquinas redondeadas */
}

/* Estilo para el slider en sí */
.salary-slider {
  width: 100%; /* O el porcentaje deseado */
}