  .combobox {
    display: flex;
    flex-direction: column;
    flex:1 
  } 
  .combobox label {
    font-size: 13px;
    font-weight: bold;
    width: 50px;
  } 
  .form-control,
  .form-select {
    font-size: 14px;
    width: 300%;
    max-width: 130px;
  }
.botonprimario{
  font-size: 1em !important;
}
  .container-datos-personales {
    border: 1px solid #F57C27;
    border-radius: 10px;     
  } 
  @media (max-width: 600px) {
    .container-datos-personales {    
      border: 1px solid #F57C27;
      border-radius: 10px;       
    }  
  }
  .container-datos-personales {   
    border: 1px solid #F57C27;
    border-radius: 10px;   
  }
  .herramientasytecnologiash2{ margin-left: 150px;}
  .combobox {
    flex-basis: calc(35% - 30px);
  }
  .container-datos-personales {   
    border: 1px solid #F57C27;
    border-radius: 10px; 
  }
  @media screen and (max-width: 1200px) {
    .combobox {
      flex-basis: calc(50% - 20px);
    }
    .container-datos-personales {
      border: 1px solid #F57C27;
      border-radius: 10px;  
    }
  }


  .tool-display{
    display: flex;
    align-items: center;
  }