.form-container {
  padding: 10px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}

.col-sm-12 {
  flex-basis: 100%;
  margin: 10px 0;
}

.tool-display {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #F57C27;
}

.tool-info>div {
  margin-bottom: 10px;
}

.minifabdanger {
  background-color: #ff6b6b;
  color: #fff;
}

.minifabdanger mat-icon {
  font-size: 20px;
}

@media (max-width: 767px) {
  .mat-form-field {
    flex-basis: 100%;
    margin: 5px 0;
  }
}

@media (min-width: 768px) {
  .col-md-2 {
    flex-basis: calc(50% - 20px);
    margin: 10px;
  }
}

@media (min-width: 992px) {
  .col-lg-2 {
    flex-basis: calc(33.33% - 20px);
    margin: 10px;
  }
}

/* Estilo para la sección de herramientas */
.tools-section {

  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Estilo para la lista de herramientas */
.tool-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

/* Estilo para cada tarjeta de herramienta */
.tool-card {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  flex: 1;
}

/* Estilo para el encabezado de la herramienta */
.tool-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tool-title {
  font-size: 18px;

}

.tool-experience {
  color: #555555;
  font-size: 14px;
}

/* Estilo para la descripción de la herramienta */
.tool-description {
  font-size: 16px;

}

/* Estilo para los botones de acción */
.tool-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.botonprimario {
  font-size: 10px !important;
}