.form-container {
  padding: 10px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}
.col-sm-12 {
  flex-basis: 100%;
  margin: 10px 0;
}

.tool-display {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #F57C27;
}
.tool-info > div {
  margin-bottom: 10px;
}
.minifabdanger {
  background-color: #ff6b6b;
  color: #fff;
}
.minifabdanger mat-icon {
  font-size: 20px;
}

@media (max-width: 767px) {
  .mat-form-field {
    flex-basis: 100%;
    margin: 5px 0;
  }
}

@media (min-width: 768px) {
  .col-md-2 {
    flex-basis: calc(50% - 20px);
    margin: 10px;
  }
}
@media (min-width: 992px) {
  .col-lg-2 {
    flex-basis: calc(33.33% - 20px);
    margin: 10px;
  }
}