
<nav class="sidebar">

  <ul class="list-unstyled components">
      <li>
          <a routerLink="/entrevistador/welcome-entrevistador"routerLinkActive="active">
            <mat-icon mat-list-icon class="custom-icon">home</mat-icon>  Inicio
          </a>
      </li>
    <li>
      <li>
        <a routerLink="/entrevistador/observaciones"routerLinkActive="active">
          <mat-icon mat-list-icon class="custom-icon">supervisor_account</mat-icon>  Observaciones
        </a>
      </li>

    <br><br><br><br><br><br><br><br><br><br>

    <li class="nav-item">
      <a (click)="cerrarSesion()" class="nav-link" style="cursor: pointer;">
        <mat-icon mat-list-icon class="custom-icon">no_meeting_room</mat-icon>  Cerrar Sesión
      </a>
    </li>

  </ul>

</nav>


