<mat-card style="background-color: transparent; border: 0; box-shadow: none; padding-top: 5vh;"
  *ngIf="authorities.has('ROLE_ENTR')">
  <p class="admin-panel-text">Panel de Entrevistador</p>
  <div class="profile-container">
    <div class="profile-box">
      <h2 *ngIf="authorities.has('ROLE_ENTR')">Bienvenido Entrevistador </h2>
      <p></p>
      <p>Sus funciones:</p>
      <ul>
        <li>Ver listado de postulantes</li>
        <li>Agregar descripciones para el proceso de selección de postulantes </li>
        <li>Agregar observaciones y aprobaciones de diferentes categorias: </li>
        - Evaluaciones Operacionales
        - Evaluaciones Técnicas
        - Evaluaciones Gerenciales
      </ul>
    </div>
  </div>
</mat-card>