/* Estilos para la franja naranja en pantallas más grandes (por defecto) */
.container-datos-personales {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Meera Inimai', sans-serif;
  padding-top: 10px;
  font-size: 12px;
 padding: 5%;
 margin-top: 5%;
 margin-left: 20%;
 margin-right: 20%;
  border: 2px solid orange;
  border-radius: 10px;
  
}



.btn-guardar {
  background-color: #F76805;
  border: none;
  font-weight: 600;
}

.form-control{
  max-width: 260px;
}



/* Media Query para pantallas más pequeñas (resolución móvil) */
@media (max-width: 600px) {
  .container-datos-personales {
    margin-right: 5%; /* Cambia el margen derecho para adaptarse al espacio disponible */
    margin-left: 5%;
    padding-right: 100px;
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    font-family: 'Meera Inimai', sans-serif;
    padding-top: 10px;
    font-size: 12px;
    padding: 5%;
    margin-top: 50px;
    border: 2px solid orange;
    border-radius: 10px;
    margin-inline: 1vw;
  }

}

