<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Datos personales</title>
</head>
<link rel="stylesheet" href="\datos-personales.component.css">
<body>
  <app-sidebar-user></app-sidebar-user>

  <app-sidebar-userdesk></app-sidebar-userdesk>

  <div class="container-datos-personales">

    <div class="div-inputs">

      <form>

        <div class="row mb-3">
          <label for="inputRut" class="col-sm-2 col-form-label">RUT:</label>
          <div class="col-sm-10">
            <input type="rut" class="form-control" id="inputRut" [(ngModel)]="usuarioNuevo.usr_rut" name="inputRut">
          </div>
        </div>
        <div class="row mb-3">
          <label for="inputNombres" class="col-sm-2 col-form-label">Nombres:</label>
          <div class="col-sm-10">
            <input type="nombres" class="form-control" id="inputNombres" [(ngModel)]="usuarioNuevo.usr_nom" name="inputNombres">
          </div>
        </div>
        <div class="row mb-3">
          <label for="inputApellidop" class="col-sm-2 col-form-label">Apellido Paterno:</label>
          <div class="col-sm-10">
            <input type="apellidop" class="form-control" id="inputApellidop" [(ngModel)]="usuarioNuevo.usr_ap_pat" name="inputApellidop">
          </div>
        </div>
        <div class="row mb-3">
          <label for="inputApellidom" class="col-sm-2 col-form-label">Apellido Materno:</label>
          <div class="col-sm-10">
            <input type="apellidom" class="form-control" id="inputApellidom" [(ngModel)]="usuarioNuevo.usr_ap_mat" name="inputApellidom">
          </div>
        </div>
        <div class="row mb-3">
          <label for="inputTelefono" class="col-sm-2 col-form-label">Teléfono:</label>
          <div class="col-sm-10">
            <input type="telefono" class="form-control" id="inputTelefono" [(ngModel)]="usuarioNuevo.usr_tel" name="inputTelefono">
          </div>
        </div>
        <div class="row mb-3">
          <label for="inputUbicación" class="col-sm-2 col-form-label">Ubicación:</label>
          <div class="col-sm-10">
            <input type="ubicacion" class="form-control" id="inputUbicación" [(ngModel)]="usuarioNuevo.pais_nom" name="inputUbicacion">
          </div>
        </div>
        <div class="row mb-3">
          <label for="inputLinkedin" class="col-sm-2 col-form-label">URL Linkedin:</label>
          <div class="col-sm-10">
            <input type="linkedin" class="form-control" id="inputLinkedin" [(ngModel)]="usuarioNuevo.usr_url_link" name="inputLinkedin">
          </div>
        </div>
        <div class="div-form d-grid justify-content-end">
          <button type="submit" class="btn btn-primary btn-guardar" (click)="agregarUsuario()">GUARDAR</button>
          
        </div>
      </form>
    </div>

  </div>




</body>
</html>
<router-outlet></router-outlet>
