<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Datos personales</title>
</head>
<link rel="stylesheet" href="\datos-personales.component.css">
<body>
  <app-app-navbar></app-app-navbar>
  <app-sidebar-user></app-sidebar-user>

  <app-sidebar-userdesk></app-sidebar-userdesk>

  <div class="container-datos-personales">

    <div class="div-inputs">

      <form [formGroup]="form" (ngSubmit)="submitForm($event)">

        <div class="row mb-3">
          <label for="inputRut" class="col-sm-2 col-form-label">RUT:</label>
          <div class="col-sm-10">
            <input type="rut" class="form-control" id="inputRut" formControlName="usr_rut" name="inputRut"
              [ngClass]="{'is-invalid': form.get('usr_rut')?.invalid && form.get('usr_rut')?.touched}" >
              <div *ngIf="form.get('usr_rut')?.invalid && form.get('usr_rut')?.touched" class="invalid-feedback">
                Rut no es válido
              </div>
          </div>
        </div>
        <div class="row mb-3">
          <label for="inputNombres" class="col-sm-2 col-form-label">Nombres:</label>
          <div class="col-sm-10">
            <input type="nombres" class="form-control" id="inputNombres" formControlName="usr_nom" name="inputNombres"
            [ngClass]="{'is-invalid': form.get('usr_nom')?.invalid && form.get('usr_nom')?.touched}" >
            <div *ngIf="form.get('usr_nom')?.hasError('required') && form.get('usr_nom')?.touched" class="invalid-feedback">
              Debe ingresar nombre
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <label for="inputApellidop" class="col-sm-2 col-form-label">Apellido Paterno:</label>
          <div class="col-sm-10">
            <input type="apellidop" class="form-control" id="inputApellidop" formControlName="usr_ap_pat" name="inputApellidop"
            [ngClass]="{'is-invalid': form.get('usr_ap_pat')?.invalid && form.get('usr_ap_pat')?.touched}">
            <div *ngIf="form.get('usr_ap_pat')?.hasError('required') && form.get('usr_ap_pat')?.touched" class="invalid-feedback">
              Debe ingresar apellido
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <label for="inputApellidom" class="col-sm-2 col-form-label">Apellido Materno:</label>
          <div class="col-sm-10">
            <input type="apellidom" class="form-control" id="inputApellidom" formControlName="usr_ap_mat" name="inputApellidom"
            [ngClass]="{'is-invalid': form.get('usr_ap_mat')?.invalid && form.get('usr_ap_mat')?.touched}">
            
            <div *ngIf="form.get('usr_ap_mat')?.hasError('required') && form.get('usr_ap_mat')?.touched" class="invalid-feedback">
              Debe ingresar apellido
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <label for="inputTelefono" class="col-sm-2 col-form-label">Teléfono:</label>
          <div class="col-sm-10">
            <input appNumericOnly type="text" class="form-control" id="inputTelefono" formControlName="usr_tel" name="inputTelefono"
            [ngClass]="{'is-invalid': form.get('usr_tel')?.invalid && form.get('usr_tel')?.touched}">
            <br />
            <div *ngIf="form.get('usr_tel')?.hasError('required') && form.get('usr_tel')?.touched" class="invalid-feedback">
              Debe ingresar número de teléfono
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <label for="inputUbicación" class="col-sm-2 col-form-label">Ubicación:</label>
          <div class="col-sm-10">
            <select type="ubicacion" class="form-control" id="inputUbicación" formControlName="pais" name="inputUbicacion">
              <option *ngFor="let country of countries" [value]="country.pais_id">{{ country.pais_nom }}</option>
            </select>
          </div>
        </div>
        <div class="row mb-3">
          <label for="inputLinkedin" class="col-sm-2 col-form-label">URL Linkedin:</label>
          <div class="col-sm-10">
            <input type="linkedin" class="form-control" id="inputLinkedin" formControlName="usr_url_link" name="inputLinkedin">
          </div>
        </div>

      
        
        <div class="div-form d-grid justify-content-end">
          <button  [disabled]="!form.valid" type="submit" class="btn btn-primary btn-guardar"> Siguiente</button>
        </div>

        
      </form>
    </div>

  </div>





</body>
</html>
<router-outlet></router-outlet>
