<mat-card class="card contenedor">
  <mat-card-content class="contenedor">
    <button mat-icon-button class="close-button" (click)="closeWindow()">
      <mat-icon>close</mat-icon>
    </button>
    <div class="box3">
      <div class="message">{{message}}</div>
    </div>
    <br>
    <div class="box4">
      <mat-card-title class="titulo">Archivos Guardados del Postulante</mat-card-title>
      <mat-selection-list #shoes>
        <ul class="file-list">
          <li *ngFor="let file of (fileInfos | async)" class="file-item">
            <a href="{{file.url}}" class="file-link">{{file.name}}</a>
            <mat-icon (click)="deleteFile(file.name)" class="delete-icon">delete</mat-icon>
          </li>
        </ul>
      </mat-selection-list>
    </div>
  </mat-card-content>
</mat-card>
