<nav class="sidebar">
    <!-- Logo o encabezado de la barra lateral -->
   <!-- <div class="sidebar-header">
        
      <h3></h3>
    </div> -->
  
    <!-- Opciones del menú -->
    <ul class="list-unstyled components">
        <li>
            <a routerLink="/admin/welcome-admin"routerLinkActive="active">Inicio</a>
        </li>
      <li>
        <a routerLink="/admin/profile-admin"routerLinkActive="active">Perfil</a>
      </li>
      <li>
        <a routerLink="/admin/view-categorias"routerLinkActive="active">Categorías</a>
      </li>
   
      <li>
        <a routerLink="/admin/view-examenes"routerLinkActive="active">Exámenes</a>
      </li>
      <li>
        <a routerLink="/admin/add-examen"routerLinkActive="active" >Agregar Exámen</a>
      </li>
      <li>
        <a routerLink="/admin/view-usuarios"routerLinkActive="active">Usuarios</a>
      </li>
      <li>
      <!--<a (click)="cerrarSesion()">Salir</a>-->
    </li>
      <!-- Agrega más opciones del menú según tus necesidades -->
    </ul>
    
  </nav>
  
