    <nav class="sidebar">

    <ul class="list-unstyled components">
        <li>
            <a routerLink="/admin/welcome-admin"routerLinkActive="active">
              <mat-icon mat-list-icon class="custom-icon">home</mat-icon>  Inicio
            </a>
        </li>
        <li>
          <a routerLink="/admin/profile-admin"routerLinkActive="active">
            <mat-icon mat-list-icon class="custom-icon">assignment_ind</mat-icon>  Perfil
          </a>
      </li>
      <li>
        <a routerLink="/admin/view-categorias"routerLinkActive="active">
          <mat-icon mat-list-icon class="custom-icon">folder</mat-icon>  Categorías
        </a>
      </li>

      <li>
        <a routerLink="/admin/view-examenes"routerLinkActive="active">
          <mat-icon mat-list-icon class="custom-icon">assignment</mat-icon>  Exámenes
        </a>
      </li>
      <li>
        <a routerLink="/admin/view-usuarios"routerLinkActive="active">
          <mat-icon mat-list-icon class="custom-icon">supervised_user_circle</mat-icon> Usuarios
        </a>
      </li>
      <br><br><br><br><br><br><br><br><br><br>

        
      <li class="nav-item">
        <a (click)="openDialog('300ms', '150ms')" class="nav-link"  style="cursor: pointer;">
          <mat-icon mat-list-icon class="custom-icon">no_meeting_room</mat-icon>  Cerrar Sesión
        </a>


    </ul>

  </nav>

