<br><br><br><br>
<p class="admin-panel-text">Panel de Administrador</p>
<div class="profile-container">
<div class="profile-details">
    <h2>Detalles del perfil</h2>
    <p><strong>Nombre:</strong> {{ perfil.usr_nom }}</p>
    <p><strong>Apellido Paterno:</strong> {{ perfil.usr_ap_pat }}</p>
    <p><strong>Apellido Materno:</strong> {{ perfil.usr_ap_mat }}</p>
    <p><strong>Email:</strong> {{ perfil.email }}</p>
    <p><strong>Rol:</strong> </p>
    <!-- ... Otros datos del perfil ... -->
</div>
</div>
  
