#main-header {
  height: 70px;
  width: 100%;
  left: 0; 
  top: 0;
  font-family:  'Anek Devanagari', sans-serif;
  position: fixed;
}
.content {
  visibility: hidden;
}
.content {
  display: none;
}
