/* Estilo para el panel de instrucciones */

  .mat-card {
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .mat-card-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .mat-card-subtitle {
    color: #888888;
  }
  
  .mat-card-content {
    padding: 20px;
  }
  
  h1 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  b {
    font-weight: bold;
  }
  
  /* Estilo para el botón "Comenzar prueba" */
  mat-card-actions {
    display: flex;
    justify-content: center;
  }
  
  button {
    background-color: #f39c12;
    color: #ffffff;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #ffff;
    color: #f39c12;
  }
  