
/* Estilos para el contenedor de filtros */
.filter-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 20px 0;
}

/* Estilos para los campos de filtro */
.filter-input, .filter-select {
  margin-right: 20px;
  flex: 1;
}

/* Estilos para el deslizador de años de experiencia */
.filter-slider {
  margin-top: 20px;
  width: 100%;
}

