body {
  background-color: white;
  font-family: Arial, sans-serif;
}

.admin-panel-text {
  font-size: 24px;
  font-weight: bold;
  color: #F76805; /* Color naranja */
}

.container {
  background-color: white;
  padding: 20px;
  border: 2px solid orange;
  margin: 20px;
}

h1 {
  font-size: 28px;
  color: black;
}

table {
  width: 100%;
  border-collapse: collapse;
}

/* th, td {
  border: 1px solid orange;
  /* padding: 10px; */
  /* text-align: left; 
} */

th {
  background-color: orange;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.btn {
  background-color: orange;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-right: 5px;
}

.btn-primary {
  background-color: orange;
}

.btn-danger {
  background-color: red;
}