/* Estilo personalizado para la barra de navegación */
.navbar {
    background-color: white; /* Fondo blanco */
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2); /* Sombreado oscuro en la parte inferior */
    padding: 30px 0; /* Aumentar el espacio vertical (ajusta según tus necesidades) */
    position: fixed;
    z-index: 10;
    width: 100%;
  }
  
  /* Centrar el contenido en la barra de navegación */
  .navbar-nav {
    margin: 0 auto;
    text-align: center;
  }
  
  /* Estilo para los elementos del menú */
  .nav-item {
    margin: 0 10px; /* Espacio entre elementos del menú */
  }
  
  /* Cambiar el color del enlace en el hover a naranja */
.nav-item a.nav-link:hover {
    color: orange;
  }

  /* Cambiar el color de fondo del ítem activo a naranja */
.nav-item.active a.nav-link {
    background-color: orange;
    color: white; /* Cambiar el color del texto a blanco para que sea legible */
  }

 
  .elitsoft {
    text-align: center; /* Centrar horizontalmente el contenido */
    margin-top: 20px; /* Espacio superior para mover la imagen hacia abajo */
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Centrar verticalmente y alinear a la derecha horizontalmente */
    justify-content: flex-end; /* Situar el contenido en la parte inferior (derecha en este caso) */
  }
  
  .elitsoft img {
    max-width: 100%; /* Para que la imagen sea responsive */
    display: block; /* Elimina el espacio debajo de la imagen */
    animation: fadeIn 2s ease-in-out; /* Animación de aparición */
    margin-left: 80px;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  
  @media (max-width: 1300px) {

    .navbar{
      display: none;
      pointer-events: none;
      margin-left: 0;
  
    }
  

    
  }
  

  @media (max-width: 1200px) {

    .navbar{
      margin-left: 0;
  
    }
  
  }