.navbar {
    position: fixed; /* posición fija en la ventana de tu navegador */  
    top: 5px; /* distancia en px desde la parte superior */  
    right: 200px; /* distancia en px desde la parte derecha */ 
}  