.alert {
    background-color: #f2f2f2;
    color: black;
    border-color: #F57C27;
}
.alert a {
    color: #F57C27;
    text-decoration: none;
}
.alert a:hover {
    text-decoration: underline;
}
.alerta-custom{
    margin-top: 18vh;
}
@media (max-width: 768px)  {
    .alerta-custom{
        margin-top: 0vh;
    }
}