<nav class="navbar navbar-expand navbar-light bg-light">
    <div class="container">
      <ul class="navbar-nav ml-auto"> <!-- Modificamos ml-auto aquí -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/registrar" routerLinkActive="active">Registrar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"[routerLink]="'/iniciar-sesion'" routerLinkActive="active">Iniciar sesión</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container mt-5">
    <!-- Aquí sigue el formulario de registro -->
    <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="card">
            <div class="card-header">
              <h3>Registro</h3>
            </div>
            <div class="card-body">
                <form [formGroup]="registroForm" (ngSubmit)="onSubmit()">
                    <!-- Campos del formulario -->
                    <div class="form-group">
                      <label for="email">Correo electrónico:</label>
                      <input type="email" class="form-control" id="email" formControlName="email" required [ngClass]="{'is-invalid': registroForm.get('email')?.invalid && registroForm.get('email')?.touched}">
                      <div *ngIf="registroForm.get('email')?.invalid && registroForm.get('email')?.touched" class="invalid-feedback">
                        Correo electrónico inválido.
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="password">Contraseña:</label>
                      <input type="password" class="form-control" id="usr_pass" formControlName="usr_pass" required [ngClass]="{'is-invalid': registroForm.get('usr_pass')?.invalid && registroForm.get('usr_pass')?.touched}">
                      <div *ngIf="registroForm.get('usr_pass')?.invalid && registroForm.get('usr_pass')?.touched" class="invalid-feedback">
                        Contraseña inválida (al menos 3 caracteres).
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="confirmPassword">Confirmar contraseña:</label>
                      <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword" required [ngClass]="{'is-invalid': registroForm.get('confirmPassword')?.invalid && registroForm.get('confirmPassword')?.touched && registroForm.hasError('passwordMismatch')}">
                      <div *ngIf="registroForm.hasError('passwordMismatch') && registroForm.get('confirmPassword')?.touched" class="invalid-feedback">
                        Las contraseñas no coinciden.
                      </div>
                    </div>
                    <!-- Botón de registro -->
                    <button type="submit" class="btn btn-primary mt-3">Registrar</button>
                  </form>
            </div>
          </div>
        </div>
      </div>
  </div>



  
  
  