<footer class="footer-container">
  <div class="footer-columns">
    <div class="footer-column">
      <p>contacto@elitsoft-chile.com</p>
    </div>
    <div class="footer-column">
      <ul class="social-icons">
        <li><a href="#" target="_blank"><i class="fab fa-instagram"></i> Instagram</a></li>
        <li><a href="#" target="_blank"><i class="fa-brands fa-facebook"></i> Facebook</a></li>
        <li><a href="#" target="_blank"><i class="fab fa-twitter"></i> Twitter</a></li>
        <li><a href="#" target="_blank"><i class="fab fa-linkedin"></i> LinkedIn</a></li>
      </ul>
    </div>
  </div>
  <div class="footer-text">
    <p>© 2023 Creado por Elitsoft</p>
  </div>
</footer>
