
    <mat-spinner class="form-container" *ngIf="!isLoaded"></mat-spinner>

    <form class="form-container" [formGroup]="herramientasForm" *ngIf="isLoaded">
        <h4 class="perfilr">Herramientas y Tecnologías</h4>
        <div formArrayName="rows">
            <div *ngFor="let row of rowsFormArray.controls; let i = index" [formGroupName]="i" class="row mt-3">
                <div class="col-sm-12 col-md-2 col-lg-2 ms-1 combobox" >
                    <label class="form-label" for="categoria">Categoría</label>
                    <select class="form-control" id="categoria" formControlName="herr_cat_name" (change)="getProducts(i)" name="categoria">
                        <option value="" selected>Selecciona una opcion</option>
                        <option *ngFor="let categoria of categorias" [value]="categoria.cat_prod_id">{{ categoria.cat_prod_nom }}</option>
                    </select>
                </div>
                <div class="col-sm-12 col-md-2 col-lg-2 ms-1 combobox">
                    <label class="form-label" for="producto">Producto</label>
                    <select class="form-control" id="producto" formControlName="herr_prd_name" name="producto" (change)="getVersion(i)">
                        <option value="" selected>Selecciona una opcion</option>
                        <option *ngFor="let producto of productByRow[i]" [value]="producto.prd_id">{{ producto.prd_nom }}</option>
                        <option value="otro">Otro</option>
                    </select>
                    <input type="text" *ngIf="row.get('herr_prd_name')?.value === 'otro'" class="form-control mt-3" placeholder="Escribe el nombre del producto" formControlName="herr_prd_otro">
                </div>
                <div class="col-sm-12 col-md-2 col-lg-2 combobox" formGroupName="versionProducto">
                    <label class="form-label" for="version" style="width: 112px;">Versión Utilizada</label>
                    <select class="form-control" id="version" formControlName="vrs_id" name="version" [hidden]="row.get('herr_prd_name')?.value === 'otro'">
                        <option value="" selected>Selecciona una opcion</option>
                        <option *ngFor="let version of versionByRow[i]" [value]="version.vrs_id">{{ version.vrs_name }}</option>
                        <option value="otro">Otro</option>
                    </select>
                    <input type="text" *ngIf="row.get('versionProducto.vrs_id')?.value === 'otro'" class="form-control mt-3" placeholder="Escribe la version utilizada" formControlName="herr_otro_vrs_name">
                </div>
                <div class="col-sm-12 col-md-2 col-lg-2 ms-1 combobox">
                    <label class="form-label" for="certificado">Certificado</label>
                    <select class="form-control" id="certificado" formControlName="herr_is_cert" name="certificado">
                        <option value="" selected>Selecciona una opcion</option>
                        <option [ngValue]="false">No</option>
                        <option [ngValue]="true">Si</option>
                    </select>
                </div>
                <div class="col-sm-12 col-md-2 col-lg-2 combobox">
                    <label class="form-label" for="nivel">Nivel</label>
                    <select class="form-control" id="nivel" formControlName="herr_nvl" name="nivel">
                        <option value="" selected>Selecciona una opcion</option>
                        <option value="alto">Alto</option>
                        <option value="medio">Medio</option>
                        <option value="bajo">Bajo</option>
                    </select>
                </div>
                <div class="col-sm-12 col-md-2 col-lg-2 ms-1 combobox">
                    <label class="form-label" for="expLaboral" style="width: 175px;">Años de Experiencia</label>
                    <select class="form-control" id="expLaboral" formControlName="herr_usr_anos_exp" name="expLaboral">
                        <option value="" selected>Selecciona una opcion</option>
                        <option value=1>1</option>
                        <option value=2>2</option>
                        <option value=3>3</option>
                        <option value=4>4</option>
                        <option value=5>5</option>
                        <option value=6>6</option>
                        <option value=7>7</option>
                        <option value=8>8</option>
                        <option value=9>9</option>
                        <option value=10>10</option>
                    </select>
                </div>
                <div class="mt-4 col-md-1">
                    <button mat-mini-fab  class="minifab" *ngIf="i === 0" type="button" id="addRow" (click)="addRow()">
                        <mat-icon>library_add</mat-icon>
                    </button>
                    <button mat-mini-fab  class="minifabdanger" *ngIf="i !== 0" type="button" (click)="removeRow(i)"><mat-icon>delete</mat-icon></button>
                </div>

            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-2 offset-md-5">
                <button mat-raised-button class="botonprimario" type="button" (click)="guardarDatos()">Guardar</button>

            </div>
        </div>
    </form>
