
/* Estilos para el formulario */
.form-container {
    padding: 20px;
    border: 1px solid #F57C27;
    border-radius: 5px;
    background-color: #f9f9f9;
    /*display: flex; /* Establece el contenedor como un flexbox */
    flex-wrap: wrap; /* Permite que los elementos se ajusten a la línea siguiente si no caben en una sola línea */
    gap: 40px; /* Espacio entre los elementos */
  }
  
  .combobox {
    display: flex; /* Los elementos dentro de combobox se colocarán en una sola línea */
    flex-direction: column; /* Los elementos dentro de combobox estarán en forma de columna */
    flex:1 /* Permitirá que los elementos se ajusten al ancho disponible */
  }
  
  .combobox label {
    font-size: 13px;
    font-weight: bold;
    width: 50px;
  }
  
  .form-control,
  .form-select {
    font-size: 14px;
    width: 300%;
    max-width: 130px; /* Ancho máximo para que no se vean muy anchos */
  }
  
  .btn-primary {
    font-size: 14px;
    padding: 8px 16px;
    background-color: #F57C27;
    border-color: #F57C27;
  }
  
  .container {
    padding-top: 189px;
  }


/* Establece el fondo naranja */
.custom-button {
  background-color: orange;
  /* Haz que los bordes sean redondeados */
  border-radius: 5px;
  /* Haz que la forma sea cuadrada ajustando el ancho y el alto */
  width: 30px;
  height: 30px;
  /* Cambia el color del texto a blanco */
  color: white;
  /* Establece una transición suave para el efecto hover */
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

/* Efecto hover */
.custom-button:hover {
  /* Cambia el fondo a blanco */
  background-color: white;
  /* Cambia el color del texto a naranja */
  color: orange;
  /* Aplica un efecto de escala para el efecto "pulse" */
  transform: scale(1.1);
}

.custom-button2 {
  background-color: rgb(0, 0, 0);
  /* Haz que los bordes sean redondeados */
  border-radius: 5px;
  /* Haz que la forma sea cuadrada ajustando el ancho y el alto */
  width: 30px;
  height: 30px;
  /* Cambia el color del texto a blanco */
  color: white;
  /* Establece una transición suave para el efecto hover */
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

/* Efecto hover */
.custom-button2:hover {
  /* Cambia el fondo a blanco */
  background-color: white;
  /* Cambia el color del texto a naranja */
  color: orange;
  /* Aplica un efecto de escala para el efecto "pulse" */
  transform: scale(1.1);
}
@media screen and (min-width: 780px) and (max-width: 1600px) {
  .form-container {
    margin-left: 150px;
 
  }
  .herramientasytecnologiash2{ margin-left: 150px;}

  .combobox {
    flex-basis: calc(35% - 30px); /* 25% de ancho para 4 elementos por fila */
  }
}

  
  @media screen and (max-width: 768px) {
    .combobox {
      flex-basis: calc(50% - 20px); /* 50% de ancho para 2 elementos por fila */
    }
  }