<form [formGroup]="form" (ngSubmit)="submitForm($event)" class="formacademica">
  <h4 class="perfilr">{{ creationMode ? 'Información académica' : 'Editar información académica' }}</h4>
  <mat-form-field>
    <mat-label>Institución Educativa:</mat-label>
    <input matInput type="text" id="inputEducacion" formControlName="institution" name="inputEducacion">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Título:</mat-label>
    <input matInput type="text" id="inputTitulo" formControlName="degree" name="inputTitulo">
  </mat-form-field>
  <mat-form-field class="example-form-field">
    <mat-label>Fecha Inicio - Fecha Fin</mat-label>
    <mat-date-range-input [rangePicker]="rangePicker">
      <input matStartDate placeholder="Fecha Inicio" id="inputFechain" formControlName="startDate" name="inputFechaini">
      <input matEndDate placeholder="Fecha Fin" id="inputFechafin" formControlName="endDate" name="inputFechafin">
    </mat-date-range-input>
    <mat-datepicker-toggle matIconSuffix [for]="rangePicker"></mat-datepicker-toggle>
    <mat-date-range-picker #rangePicker>
      <mat-date-range-picker-actions>
        <button class="botonprimario" mat-button matDateRangePickerCancel>Cancelar</button>
        <button mat-raised-button class="botonprimario" matDateRangePickerApply>Aceptar</button>
      </mat-date-range-picker-actions>
    </mat-date-range-picker>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Estado Académico:</mat-label>
    <mat-select id="selectEstadoAcademico" formControlName="status" name="estadoAcademico">
      <mat-option value="Selecciona una opción">Selecciona una opción...</mat-option>
      <mat-option value="En curso">En curso</mat-option>
      <mat-option value="En práctica">En práctica</mat-option>
      <mat-option value="Egresado">Egresado</mat-option>
      <mat-option value="Titulado">Titulado</mat-option>
      <mat-option value="Incompleto">Incompleto</mat-option>
    </mat-select>
  </mat-form-field>
  <div class="contenedor-externo">
    <h4 class="perfilr">Referencias Académicas</h4>
    <div formArrayName="academicalReference">
      <div *ngFor="let ref of referenciaFormArray.controls; let i = index" [formGroupName]="i">
        <mat-card class="referencia-individual">
          <mat-form-field appearance="fill" class="example-full-width">
            <mat-label>Nombre</mat-label>
            <input matInput type="text" formControlName="ref_acad_nom">
          </mat-form-field>
          <mat-form-field appearance="fill" class="example-full-width">
            <mat-label>Institución</mat-label>
            <input matInput type="text" formControlName="ref_acad_ins">
          </mat-form-field>
          <mat-form-field appearance="fill" class="example-full-width">
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="ref_acad_email">
          </mat-form-field>
          <mat-form-field appearance="fill" class="example-full-width">
            <mat-label>Teléfono</mat-label>
            <input matInput type="tel" formControlName="ref_acad_tel">
          </mat-form-field>
          <mat-card class="guardarycancelar mb-2" style="display: flex; justify-content: center; align-items: center; height: 100%;">
            <button mat-mini-fab color="warn" (click)="eliminarReferencia(i)" style="margin: auto;">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-card>
        </mat-card>
      </div>
    </div>
    <mat-card class="guardarycancelar mb-2">
    <button mat-raised-button type="button" class="botonprimario m-2" (click)="addReferencia()">+ Añadir Referencia</button>
  </mat-card>
  </div>
  <br>
  <mat-card class="guardarycancelar">
    <button mat-raised-button class="botonprimario m-2" [disabled]="!form.valid" type="submit">{{ creationMode ? 'Guardar' : 'Actualizar' }}</button>
    <button mat-raised-button class="botonprimario m-2" (click)="goBack()">Cancelar</button>
  </mat-card>
</form>