/* Estilo profesional para el elemento */
.container {
  background-color: #fff; /* Cambiar el color de fondo a blanco */
  color: #000; /* Cambiar el color del texto a negro */
  padding: 20px;
  border: 2px solid #FFA500; /* Cambiar el color del borde a naranja */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.container h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #000; /* Cambiar el color del título a negro */
}

.container .form-label {
  color: #000; /* Cambiar el color de las etiquetas a negro */
}

.container .form-control {
  background-color: #fff; /* Cambiar el color de fondo de los campos de entrada a blanco */
  color: #000; /* Cambiar el color del texto en los campos de entrada a negro */
}

.container .form-check-input {
  background-color: #fff; /* Cambiar el color de fondo de los checkboxes a blanco */
  border-color: #FFA500; /* Cambiar el color del borde de los checkboxes a naranja */
}

.container .form-check-label {
  color: #000; /* Cambiar el color del texto de las etiquetas de los checkboxes a negro */
}

.container .btn-primary {
  background-color: #FFA500; /* Cambiar el color de fondo del botón a naranja */
  border-color: #FFA500; /* Cambiar el color del borde del botón a naranja */
  color: #fff; /* Cambiar el color del texto del botón a blanco */
  font-weight: bold;
}

.container .btn-primary:hover {
  background-color: #F76805; /* Cambiar el color de fondo del botón a naranja más oscuro al pasar el ratón */
  border-color: #F76805; /* Cambiar el color del borde del botón a naranja más oscuro al pasar el ratón */
}
