.full-width {
  width: 100%;
}
.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
mat-card-header {
  border-bottom: 1px solid #e0e0e0;
  padding: 16px;
  display: flex; 
  align-items: center; 
  justify-content: center; 
  text-align: center; 
}

.perfilr {
  margin: 0;

  font-size: 24px; 
}
form {
  padding: 20px;
}
mat-form-field {
  width: 100%; 
  margin-bottom: 20px;
}

textarea.mat-input-element {
  min-height: 100px; 
}

.form-group {
  display: flex;
  justify-content: center; 
  gap: 10px; 
}