/* Estilos para la barra de navegación */
.navbar {
  background-color: #F57C27; /* Color de fondo naranja #F76805 */
  color: #fff; /* Color de texto en la barra de navegación */

}

.nav-link {
  color: #fff !important; /* Color de texto de los enlaces de navegación */
}

/* Estilos para el formulario */
.card {
  border: none; /* Quita el borde de la tarjeta */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra de la tarjeta */
}

.card-header {
  background-color: #F57C27; /* Color de fondo naranja #F76805 */
  color: #fff; /* Color de texto en la cabecera de la tarjeta */
}

.form-group label {
  color: #333; /* Color de texto de las etiquetas de los campos del formulario */
}

.form-control {
  border: 1px solid #ccc; /* Borde de los campos del formulario */
}

/* Estilos para el botón de registro */
.btn-primary {
  background-color:#F57C27; /* Color de fondo naranja #F76805 */
  border-color: #F57C27;
  width: 100%; /* Hace que el botón ocupe todo el ancho disponible */
}

.btn-primary:hover {
  background-color: #ffffff;
  border-color: #F57C27;
  color: #F57C27;

}

/* Estilos para los mensajes de éxito y error */
.alert-success {
  background-color: #D4EDDA; /* Color de fondo verde para mensajes de éxito */
  color: #155724; /* Color de texto de mensajes de éxito */
}

.alert-danger {
  background-color: #F8D7DA; /* Color de fondo rojo para mensajes de error */
  color: #721C24; /* Color de texto de mensajes de error */
}

.elitsoft {
  text-align: center; /* Centrar horizontalmente el contenido */
  margin-top: 20px; /* Espacio superior para mover la imagen hacia abajo */
}

.elitsoft img {
  max-width: 100%; /* Para que la imagen sea responsive */
  display: block; /* Elimina el espacio debajo de la imagen */
  margin: 0 auto; /* Centrar horizontalmente la imagen */
  animation: fadeIn 2s ease-in-out; /* Animación de aparición */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.nav-link2 {
  color: #333; /* Color de texto por defecto */
    /* Otros estilos opcionales */
    text-decoration: none; /* Para quitar la subrayado del enlace */
   margin-top: 1vh;
 
}

.nav-link2:hover {
  color: orange; /* Color naranja al hacer hover */
}


.botonprimario{
  width: 100%;
}

  
@media (max-width: 1200px)  {
  /* Consulta de medios para dispositivos con un ancho de pantalla entre 768px y 1000px */
  .nav-link2 {
      padding-left: 10%; /* Establecer el padding-left al 15% para tablets y pantallas de tamaño similar */
  }

  .container-bg {

    padding-top: 0;
    padding-bottom: 10vh;
  
  }
}
