.formacademica {
  display: flex;
  margin-top: 10%;
  margin-bottom: 10%;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
}
.mat-form-field{
  width: 100%;
}
.ng-star-inserted {
width: 100% !important;
padding-left: 2%;
padding-right: 2%;
}
button.example-custom-date-class {
  background: orange!important;
  border-radius: 100%;
}
.guardarycancelar
{
background-color: none;
box-shadow: none;
width: 100%;
}
.contenedor-externo {
  width: 100%;
}
.mat-card {
  width: 100%; 
  box-sizing: border-box; 
  margin-bottom: 16px; 
}
.perfilr {
  width: 100%; 
  text-align: center; 
}
