
/* Estilos para el formulario */
.form-container {
  padding: 20px;
  border: 1px solid #F57C27;
  border-radius: 5px;
  background-color: #f9f9f9;
  display: flex; /* Establece el contenedor como un flexbox */
  flex-wrap: wrap; /* Permite que los elementos se ajusten a la línea siguiente si no caben en una sola línea */
  gap: 40px; /* Espacio entre los elementos */
  background-color: white;
}

.combobox {
  display: flex; /* Los elementos dentro de combobox se colocarán en una sola línea */
  flex-direction: column; /* Los elementos dentro de combobox estarán en forma de columna */
  flex:1 /* Permitirá que los elementos se ajusten al ancho disponible */
}

.combobox label {
  font-size: 13px;
  font-weight: bold;
  width: 50px;
}

.form-control,
.form-select {
  font-size: 14px;
  width: 300%;
  max-width: 100px; /* Ancho máximo para que no se vean muy ancho*/
}

.btn-primary {
  font-size: 14px;
  padding: 8px 16px;
  background-color: #F57C27;
  border-color: #F57C27;
}

.container {
  padding-top: 189px;
}


