.user-profile {
    display: flex;
    flex-direction: column;
  }
  .profile-item {
    display: flex;
    margin-bottom: 10px;
  }
  .profile-item label {
    font-weight: bold;
    margin-right: 5px;
  }
  .profile-item p {
    margin: 0;
  }
  .card-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  .chips{
    font-size: 12px;
    padding: 2px 4px; 
    height: auto;
  }
  .chips-container{
    margin-top: 1vh;
  }
  .card-custom{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .card-title-custom{
    align-self: baseline; 
    grid-column: 1 / -1; 
    justify-self: center;
    color: rgb(255, 255, 255);
    font-weight: bold;
     font-size: 1.5em;
     font-family: 'Meera Inimai', sans-serif;
  }
  .btn-custom{
    background-color: transparent!important;
    color: black!important;
  }
  .card-header{
    background-color: #F57C27;
  }
  .comentario-box {
    background-color: #f0f0f0; 
    border: 1px solid #ccc; 
    padding: 10px; 
    margin-bottom: 10px; 
  }
  .ancho-completo {
    width: 100%;
  }
  .observacion-card {
    margin: 10px;
    border-left: 5px solid #F57C27; 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); 
  }
  .fecha-info {
    display: flex;
    justify-content: start;
    gap: 10px;
    flex-wrap: wrap;
  }
  mat-chip {
    margin: 2px;
    background-color: #F57C27; 
    color: white;
  }
  .creado-chip {
    background-color: #F57C27;
  }
  .modificado-chip {
    background-color: #F57C27;
  }
.observacion-comentario {
  margin: 10px;
  padding: 10px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.comentario-card {
  display: flex;
  flex-direction: column;
}
.mat-card-header {
  display: flex;
  align-items: center;
  background-color: #ffffff;
}
.mat-icon {
  margin-right: 10px;
  font-size: 24px;
}
.mat-card-title {
  font-weight: bold;
}

.mat-card-content {
  padding-top: 0;
}
.ancho-completo {
  width: 100%;
}
.observacion-texto {
  margin: 10px 0;
}
.acciones-comentario {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}
.observacion-card {
  background-color: #f0f0f0;
  margin-top: 10px;
}
.fecha-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.avatar {
  background-color: #ffffff; 
  background-image: url('/assets/exam.png'); 
  background-size: cover; 
  background-position: center;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50px; 
  height: 50px; 
  border: 2px solid #ddd; 
  overflow: hidden; 
  position: relative;
}
.avatar::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 15px;
  height: 15px;
  background-color: #4caf50;
  border: 2px solid #ffffff; 
  border-radius: 50%;
}
.mat-card-header {
  align-items: center;
}
.mat-card-title {
  margin-left: 8px; 
  font-weight: bold;
}
.mat-card-subtitle {
  margin-left: 8px; 
  font-size: 0.85em;
}
.postulaciones {
  display: flex;
  flex-direction: column;
  padding: 16px;
  margin-bottom: 8px; 
  background-color: #f9f9f9; 
  border-radius: 10px;
  border: 1px solid #F57C27!important;
}

.preferred-job-container {
  display: flex;
  align-items: center;
  margin-top: 8px;
}

.postulaciones, 
button[mat-raised-button].botonprimario {
  margin-left: auto;
  margin-top: 8px;
}

