
        <div class="card">
          <div class="card-header ">
            <div class="card-custom">
              <button mat-mini-fab color="primary" class="btn-custom" mat-dialog-close
              aria-label="Example icon button with a menu icon">
              <mat-icon>keyboard_arrow_left</mat-icon>
            </button>
            <h2 class="card-title-custom">Perfil de User </h2>
            </div>
          </div>
          <div class="card-body">
            <div class="user-profile">
          <mat-tab-group>
            <mat-tab label="Datos Personales">
              <mat-list>
              <mat-list-item>
                <span matListItemTitle>{{ usuarioData.name }} {{ usuarioData.firstLastname }} {{ usuarioData.secondLastname }}</span>
                <span matListItemLine>Nombre</span>
                <div matListItemIcon>
                  <mat-icon>person</mat-icon>
                </div>
              </mat-list-item>
              <mat-list-item>
                <span matListItemTitle>{{ usuarioData.rut }}</span>
                <span matListItemLine>Rut</span>
                <div matListItemIcon>
                  <mat-icon>credit_card</mat-icon>
                </div>
              </mat-list-item>
              <mat-list-item>
                <span matListItemTitle>{{ usuarioData.email}}</span>
                <span matListItemLine>Correo Electrónico</span>
                <div matListItemIcon>
                  <mat-icon>email</mat-icon>
                </div>
              </mat-list-item>
              <mat-list-item>
                <span matListItemTitle>{{ usuarioData.phone}}</span>
                <span matListItemLine>Teléfono</span>
                <div matListItemIcon>
                  <mat-icon>phone</mat-icon>
                </div>
              </mat-list-item>
              <mat-list-item>
                <span matListItemTitle *ngIf="usuarioData.linkedin">{{ usuarioData.linkedin}}</span>
                <span matListItemTitle *ngIf="!usuarioData.linkedin">No especificado</span>
                <span matListItemLine>LinkedIn</span>
                <div matListItemIcon>
                  <mat-icon>public</mat-icon>
                </div>
              </mat-list-item>
              </mat-list>
            </mat-tab>
            <mat-tab label="Información Laboral">
              <mat-list>
              
                <div class="mb-3 mt-1"> Experiencia laboral:</div>
                <mat-list-item *ngFor="let jobs of usuarioData.jobs">
                  <span matListItemTitle>{{ jobs.position }}</span>
                  <span matListItemLine>
                    {{ jobs.company }}
                  </span>
                    <div *ngFor="let h of jobs.herramientas; let i = index" matListItemLine>
                      <mat-chip  class="chips" >
                        {{ h.productVersion.prd.name }} ({{ h.productVersion.name }})  - (Exp:{{ h.yearsOfExperience }} año/s)
                      </mat-chip>
                    </div>
                  <!-- Referencias Laborales -->  
                  <div class="mb-3 mt-1"> Referencias Laborales:</div>
                  <ul *ngIf="jobs.employmentReferences && jobs.employmentReferences.length">
                    <li *ngFor="let employmentReferences of jobs.employmentReferences">
                      <span matListItemLine>Nombre: {{employmentReferences.name }}</span>
                      <span matListItemLine>Empresa: {{employmentReferences.company }}</span>
                      <span matListItemLine>Teléfono: {{employmentReferences.phone }}</span>
                      <span matListItemLine>Email: {{employmentReferences.email }}</span>
                    </li>
                  </ul>

                  <div matListItemIcon>
                    <mat-icon>work</mat-icon>
                  </div>
                  <span matListItemMeta> <div>Desde</div> {{ jobs.startDate }} </span>
                  <span matListItemMeta> <div>Hasta</div> {{ jobs.endDate }} </span>
                </mat-list-item>
              </mat-list>
            </mat-tab>

            <mat-tab label="Información Académica">
            
              <mat-list>
                <mat-list-item *ngFor="let academicalList of usuarioData.academicalList">
                  <span matListItemTitle>{{ academicalList.degree }}</span>
                  <span matListItemLine>{{academicalList.university }}</span>
                  <span matListItemLine>{{academicalList.status }}</span>
                  
                  <!-- Referencias académicas -->
    <div class="mb-3 mt-1"> Referencias Académicas:</div>
    <ul *ngIf="academicalList.academicalReference && academicalList.academicalReference.length">
      <li *ngFor="let academicalReference of academicalList.academicalReference">
        <span matListItemLine>Nombre: {{academicalReference.name }}</span>
        <span matListItemLine>Institución: {{academicalReference.institution }}</span>
        <span matListItemLine>Teléfono: {{academicalReference.phone }}</span>
        <span matListItemLine>Email: {{academicalReference.email }}</span>
      </li>
    </ul>
                  
                  <div matListItemIcon>
                    <mat-icon>school</mat-icon>
                  </div>
                  <span matListItemMeta> <div>Desde</div> {{ academicalList.startDate }} </span>
                  <span matListItemMeta> <div>Hasta</div> {{ academicalList.endDate }} </span>
                </mat-list-item>
              </mat-list>
              
              
            </mat-tab>
           
            <mat-tab label="Observaciones">
              <!-- <div *ngFor="let observadores of observadoresData; let i = index" class="observacion-comentario">
                <mat-card class="comentario-card">
                  <mat-card>
                    <mat-card-header>
                      <div mat-card-avatar class="avatar">
                      </div>
                      <mat-card-subtitle style="color: #000000">Autor de la observación: </mat-card-subtitle>
                      <mat-card-title class="mb-2">{{ observadores.name }} {{ observadores.firstLastname }}</mat-card-title>
                      <mat-card-subtitle class="mb-2">Modificado por: {{ observadores.usr2_nom }} {{ observadores.usr2_ap_pat }}</mat-card-subtitle>
                    </mat-card-header>
                  </mat-card>
                  <mat-accordion>
                    <mat-expansion-panel (opened)="panelOpenState = true"
                                         (closed)="panelOpenState = false">
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                         Aprobaciones: 
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <mat-card-subtitle>Aprobación: Gerencia</mat-card-subtitle>
                      <mat-label>{{ observadores.apr_ger }}</mat-label>
                      <mat-card-subtitle>Aprobación: Operaciones</mat-card-subtitle>
                      <mat-label>{{ observadores.operationalApproval }}</mat-label>
                      <mat-card-subtitle>Aprobación: Técnica</mat-card-subtitle>
                      <mat-label>{{ observadores.technicalApproval }}</mat-label>
                    </mat-expansion-panel>
                  </mat-accordion>
                  <br>
                  <mat-card-content>
                    <div *ngIf="enEdicion === observadores.obs_id">
                      <mat-form-field class="ancho-completo">
                        <textarea matInput [(ngModel)]="observadores.description"></textarea>
                      </mat-form-field>
                    </div>
                    <p *ngIf="enEdicion !== observadores.obs_id" class="observacion-texto">{{ observadores.description }}</p>
                    <div class="acciones-comentario">
                      <button mat-button class="botonprimario" *ngIf="enEdicion !== observadores.obs_id" (click)="editarObservacion(observadores.obs_id)">Editar</button>
                      <button mat-button class="botonprimario"  *ngIf="enEdicion === observadores.obs_id" (click)="actualizarObservacion(observadores)">Guardar</button>
                    </div>
                  </mat-card-content>
                  <mat-card class="observacion-card">
                    <mat-card-content>
                      <div class="fecha-info">
                        <mat-chip-list>
                          <mat-chip color="primary" selected>
                            Creado: {{observadores.creationDate | date:'medium' }}
                          </mat-chip>
                          <mat-chip *ngIf="observadores.modificationDate" color="accent" selected>
                            Modificado: {{ observadores.modificationDate | date:'medium' }}
                          </mat-chip>
                        </mat-chip-list>
                      </div>
                    </mat-card-content>
                  </mat-card>
                </mat-card>
              </div> -->
              <div class="comentario-box mt-2">
                <mat-form-field appearance="outline" class="ancho-completo">
                  <mat-label>Escribe una observación...</mat-label>
                  <textarea matInput [(ngModel)]="nuevaObservacion" class="nueva-observacion"></textarea>
                </mat-form-field>
              </div>
              <button mat-raised-button class="botonprimario  m-2" (click)="guardarObservacion()" aria-label="Añadir una Nueva Observación">Guardar Nueva Observación</button>
              <button mat-raised-button class="botonprimario m-2" (click)="salir()" aria-label="Salir">Cerrar Ventana</button>
            </mat-tab>
            </mat-tab-group>
           </div>
          </div>
        </div>
