<mat-card style="margin-left: 10px;">
  <h1>Detalles del perfil</h1>
  <mat-card-content>
    <div class = "bootstrap-wrapper">
      <div class = "container">
        <div class = "text-center">
          <img src="../../../assets/usuario.png" width="100" height="100" alt=""
          class="profile-image">

          <h1 class="mt20"></h1>
        </div>
        <div class = "row">
          <div class = "col-md-10 offset-md-1">
            <table class = "table text-center">
              <tr>
                <td>Nombre de usuario</td>
                <td>{{ user.username }}</td>
              </tr>
              <tr>
                <td>ID</td>
                <td>{{ user.id }}</td>
              </tr>
             
              <tr>
                <td>Rol</td>
                <td>{{ user.authorities[0].authority }}</td>
              </tr>
              
            </table>
          </div>
        </div>
      </div>
    </div>


    
 <!--   <mat-card-actions class = "text-center">
      <button mat-raised-button color = "primary">Actualizar</button>
    </mat-card-actions> -->
  </mat-card-content>
</mat-card>