<mat-card class="contenedorform">
  <div class="div-inputs">
    <h4 class="perfilr">Cargos activos en Elitsoft</h4>
    <form [formGroup]="form" (ngSubmit)="submitForm($event)">
      <div class="row mb-3">
        <label for="cargosE" class="col-m-2 col-form-label">Cargo a Postular:</label>
        <!-- Mostrar el select solo en modo creación -->
        <div class="combobox col-sm-15" *ngIf="creationMode">
          <select class="form-control" (change)="esCargoTrainee()" id="cargosE" formControlName="JobPositionId" name="cargosE" [disabled]="!creationMode">
            <option value="">Seleccione una opción</option>
            <option *ngFor="let cargo of JobPosition" [value]="cargo.id">{{ cargo.name }}</option>
          </select>
        </div>
        <!-- Mostrar el input bloqueado solo en modo edición -->
        <input class="form-control" *ngIf="!creationMode" type="text" formControlName="jobPositionName" readonly>
      </div>
      
      <ng-container *ngIf="JobPosition && form.get('JobPositionId')?.value as selectedJobId">
        <!-- Mostrar mensaje y botón para redirigir a referencias académicas -->
        <div *ngIf="isntrainee && mostrarFormulario" class="alert alert-info">
          Recuerda añadir referencias académicas si deseas postular a un cargo de Trainee.
          <button mat-raised-button class="botonprimario m-2" (click)="redirectToReferencias()">Añadir Referencias Académicas</button>
        </div>
        <div *ngIf="isntrainee || mostrarFormulario">
          <div class="row mb-3">
            <label for="inputPretension" class="col-m-2 col-form-label">Pretensión de renta:</label>
            <div class="col-sm-15">
              <input
                type="text"
                class="form-control"
                id="inputPretension"
                formControlName="salary"
                name="inputPretension"
                placeholder="CLP"
                [ngClass]="{'is-invalid': form.get('salary')?.invalid && form.get('salary')?.touched}"
                (blur)="formatCurrency()">
              <div *ngIf="form.get('salary')?.hasError('pattern') && form.get('salary')?.touched" class="invalid-feedback">
                Ingresar solamente valores numéricos
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <label for="inputAvailability" class="col-sm-2 col-form-label">Disponibilidad laboral:</label>
            <div class="col-sm-15" formGroupName="availability">
              <select class="form-control" id="inputAvailability" formControlName="id">
                <option value="">Selecciona una opción</option>
                <option value="1">Inmediata</option>
                <option value="2">1 semana</option>
                <option value="3">2 semanas</option>
                <option value="4">3 semanas</option>
                <option value="5">4 semanas o más</option>
              </select>
              <div *ngIf="form.get('availability')?.hasError('required') && form.get('availability')?.touched" class="invalid-feedback">
                Disponibilidad es obligatoria
              </div>
            </div>
          </div>
          <div class="div-form d-grid my-2">
            <button mat-raised-button class="botonprimario m-2" [disabled]="!form.valid" type="submit">
              {{ creationMode ? 'Crear Cargo' : 'Editar Cambios' }}
            </button>
          </div>
        </div>
      </ng-container>
    </form>
  </div>
</mat-card>
