/* Estilo para el formulario y tarjeta */
.card {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: none;
    margin-top: 20px;
}

.card-header {
    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;
    text-align: center;

}

.perfilr {
    text-align: center;
}


/* Estilo para los campos de entrada y etiquetas */
.form-group {
    margin-bottom: 15px;
}




/* Estilo para el select de nivel de dificultad */
.form-group select {
    width: 100%;
    padding: 10px;
}

/* Estilo para el contenedor principal */
.container {
    max-width: 800px;
    margin: 0 auto;
}

/* Estilo para el título principal */
h1 {

    margin-bottom: 20px;
}