<p class="admin-panel-text">Panel de Administrador</p>
<div class="container mt-4">
  <div class="row mt-4">
    <div class="col-md-12">
      <h1>Agregar pregunta</h1>
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">Digite los detalles de la nueva pregunta</h5>
        </div>
        <div class="card-body">
          <form class="mt-3" (submit)="formSubmit()" [formGroup]="form">
            <div class="form-group">
              <label for="contenido">Digite el contenido de la pregunta</label>
              <textarea class="form-control" rows="8" id="prg" name="prg" formControlName="content" required></textarea>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="prg_opc1">Digite la opción 1</label>
                  <input type="text" class="form-control" id="prg_opc1" name="prg_opc1" formControlName="option1"
                    required />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="prg_opc2">Digite la opción 2</label>
                  <input type="text" class="form-control" id="prg_opc2" name="prg_opc2" formControlName="option2"
                    required />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="prg_opc3">Digite la opción 3</label>
                  <input type="text" class="form-control" id="prg_opc3" name="prg_opc3" formControlName="option3"
                    required />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="prg_opc4">Digite la opción 4</label>
                  <input type="text" class="form-control" id="prg_opc4" name="prg_opc4" formControlName="option4"
                    required />
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="prg_resp">Seleccione la respuesta</label>
              <select class="form-control" id="prg_resp" name="prg_resp" formControlName="answer" required>
                <option *ngIf="pregunta.option1" value="1">{{ pregunta.option1 }}</option>
                <option *ngIf="pregunta.option2" value="2">{{ pregunta.option2 }}</option>
                <option *ngIf="pregunta.option3" value="3">{{ pregunta.option3 }}</option>
                <option *ngIf="pregunta.option4" value="4">{{ pregunta.option4 }}</option>
              </select>
            </div>
            <div>
              <label> Seleccione nivel de dificultad</label>
              <select class="form-control" formControlName="level">
                <option value="1">Bajo</option>
                <option value="2">Medio</option>
                <option value="3">Alto</option>
              </select>
            </div>
            <div class="container text-center">
              <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Guardar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>