<div class="container mt-4">
  <div class="row mt-4">
    <div class="col-md-12">
      <h1 class="perfilr">Agregar pregunta</h1>
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">Digite los detalles de la nueva pregunta</h5>
        </div>
        <div class="card-body">
          <form class="mt-3" (submit)="formSubmit()" [formGroup]="form">
            <div class="form-group" style="width: 100%;">
              <mat-form-field class="form-group" appearance="outline" style="width: 100%;">
                <mat-label for="prg">Digite el contenido de la pregunta</mat-label>
                <textarea matInput rows="8" id="prg" name="prg" formControlName="content" required
                  style="width: 100%;"></textarea>
              </mat-form-field>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <mat-form-field class="form-group" appearance="outline" style="width: 100%;">
                    <mat-label for="prg_opc1">Digite la opción 1</mat-label>
                    <input matInput type="text" id="prg_opc1" name="prg_opc1" formControlName="option1"
                      (input)="checkAnswersWritten()" required />
                  </mat-form-field>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <mat-form-field class="form-group" appearance="outline" style="width: 100%;">
                    <mat-label for="prg_opc2">Digite la opción 2</mat-label>
                    <input matInput type="text" id="prg_opc2" name="prg_opc2" formControlName="option2"
                      (input)="checkAnswersWritten()" required />
                  </mat-form-field>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <mat-form-field class="form-group" appearance="outline" style="width: 100%;">
                    <mat-label for="prg_opc3">Digite la opción 3</mat-label>
                    <input matInput type="text" id="prg_opc3" name="prg_opc3" formControlName="option3"
                      (input)="checkAnswersWritten()" required />
                  </mat-form-field>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <mat-form-field class="form-group" appearance="outline" style="width: 100%;">
                    <mat-label for="prg_opc4">Digite la opción 4</mat-label>
                    <input matInput type="text" id="prg_opc4" name="prg_opc4" formControlName="option4"
                      (input)="checkAnswersWritten()" required />
                  </mat-form-field>
                </div>
              </div>
            </div>

            <mat-form-field class="form-group" style="width: 100%;" appearance="outline">
              <mat-label for="prg_resp">Seleccione la respuesta</mat-label>
              <mat-select id="prg_resp" name="prg_resp" formControlName="answer" required>
                <mat-option value="1">{{ form.get("option1")?.value }}</mat-option>
                <mat-option value="2">{{ form.get("option2")?.value }}</mat-option>
                <mat-option value="3">{{ form.get("option3")?.value }}</mat-option>
                <mat-option value="4">{{ form.get("option4")?.value }}</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field formGroupName="level" style="width:100%;" appearance="outline">
              <mat-label>Seleccione nivel de dificultad</mat-label>
              <mat-select formControlName="id">
                <mat-option value="1">Bajo</mat-option>
                <mat-option value="2">Medio</mat-option>
                <mat-option value="3">Alto</mat-option>
              </mat-select>
            </mat-form-field>
            <div class="container text-center">
              <button mat-button type="submit" class="botonprimario m-2" [disabled]="!form.valid">Guardar</button>
              <button mat-button class="botonprimario m-2" (click)="cerrarModal()">Cerrar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>