/* Estilos generales */
body {
  background-color: #f5f5f5; /* Color de fondo gris claro */
  margin: 0;
  padding: 0;
}

/* Estilos para el contenedor del perfil */
.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh; /* Ocupa el 100% del alto de la pantalla */
  background-color: #f5f5f5; /* Color de fondo gris claro */
  border: 1px solid #F57C27;
  border-radius: 10px;
}

.profile-box {
  padding: 20px; /* Incrementamos el espacio de relleno para una mejor presentación */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra suave */
  width: 80%; /* Ajustar el ancho según sea necesario */
  background-color: #fff; /* Color de fondo blanco */
  color: #333; /* Color de texto principal */
  border: 1px solid #F57C27;
  background-color: #f5f5f5; /* Cambiar el color de fondo si es necesario */
  animation: fadeInUp 1s ease-out;

}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


/* Estilos para el título de bienvenida */
.profile-box h2 {
  font-size: 24px;
  font-weight: bold;
  color:  #F57C27;/* Color naranja */
}

/* Estilos para el contenido del perfil */
.profile-content {
  margin-top: 20px;
  font-size: 16px;
  line-height: 1.5;
}

/* Estilos para la lista de funciones */
.profile-box ul {
  list-style-type: disc;
  margin-left: 20px;
  margin-top: 10px;
}

/* Estilos para los elementos de la lista */
.profile-box li {
  margin-bottom: 5px;
}

/* Estilos para el enlace de acción */
.action-link {
  display: inline-block;
  padding: 10px 20px;
  background-color:  #F57C27; /* Color naranja */
  color: #fff; /* Color de texto blanco */
  border: none;
  border-radius: 10px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.action-link:hover {
  background-color:  #F57C27; /* Cambia el color al naranja más claro al pasar el ratón */
}
