
<form [formGroup]="form" (ngSubmit)="submitForm($event)">
  <mat-card class="formacademica">
    <h4 class="perfilr">Editar Información laboral</h4>
    <div class="academica-item">
      <mat-form-field>
        <mat-label>Cargo:</mat-label>
        <input matInput formControlName="inf_lab_crg_emp" placeholder="Cargo">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Nombre Empresa:</mat-label>
        <input matInput formControlName="inf_lab_emp" placeholder="Nombre Empresa">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Actividades Realizadas:</mat-label>
        <input matInput formControlName="inf_lab_act" placeholder="Actividades Realizadas">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Fecha Inicio:</mat-label>
        <input matInput formControlName="inf_lab_fec_ini" type="date" placeholder="Fecha Inicio">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Fecha Fin:</mat-label>
        <input matInput formControlName="inf_lab_fec_fin" type="date" placeholder="Fecha Fin">

      </mat-form-field>

      <mat-card>
        <mat-label for="inputHerramientas">Tecnologías Utilizadas:</mat-label>

        <div *ngIf="herramientasDisponibles && checkboxFormCreated">

          <div *ngFor="let herramienta of herramientasDisponibles; let i = index">
            <div *ngIf="!herramienta.herr_prd_otro">
              <mat-checkbox [formControlName]="herramienta.herr_usr_id">
                {{ herramienta.versionProducto.prd.prd_nom }} ({{ herramienta.versionProducto.vrs_name }})
              </mat-checkbox>
            </div>
            <div *ngIf="herramienta.herr_prd_otro">
              <mat-checkbox [formControlName]="herramienta.herr_prd_otro">
                {{ herramienta.herr_prd_otro }}
              </mat-checkbox>
            </div>

          </div>
        </div>

      </mat-card>
      <br>
      <mat-card class="guardarycancelar">
        <button mat-raised-button class="botonprimario m-2" [disabled]="!form.valid" type="submit">Guardar</button>
        <button mat-raised-button class="botonprimario m-2" (click)="goBack()">Cancelar</button>
      </mat-card>
    </div>
  </mat-card>
</form>


