.header {
  background-color: #F57C27; 
  color: white;
  padding: 16px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  font-size: 18px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}
.dialog-content {
  font-size: 16px;
  color:  #000000; 
  padding: 20px;
  text-align: center;
  line-height: 1.5; 
}
.dialog-actions {
  display: flex;
  justify-content: space-around;
  padding: 16px;
}
.boton-secundario {
  background-color: #f5f5f5;
  color: #757575;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s; 
}
.boton-secundario:hover {
  background-color: #e0e0e0;
}