// Custom Theming for Angular Material
@use '@angular/material' as mat;

// Incluye los estilos comunes para Angular Material
@include mat.core();

// Define tu paleta de colores primarios personalizada
$PortalElitsoft-Frontend-primary: (
  50: #F57C27,
  100: #F57C27,
  200: #F57C27,
  300: #F57C27,
  400: #F57C27,
  500: #F57C27,
  600: #F57C27,
  700: #F57C27,
  800: #F57C27,
  900: #F57C27,
  A100: #F57C27,
  A200: #F57C27,
  A400: #F57C27,
  A700: #F57C27,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  )
);
$primary-color-palette: mat.define-palette($PortalElitsoft-Frontend-primary);

// Define tus paletas de colores de acento y advertencia (puedes ajustar estos valores)
$PortalElitsoft-Frontend-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$PortalElitsoft-Frontend-warn: mat.define-palette(mat.$red-palette);

// Crea el tema
$PortalElitsoft-Frontend-theme: mat.define-light-theme((
  color: (
    primary: $primary-color-palette,
    accent: $PortalElitsoft-Frontend-accent,
    warn: $PortalElitsoft-Frontend-warn,
  )
));

// Incluye estilos de tema para el núcleo y cada componente usado en tu aplicación
@include mat.all-component-themes($PortalElitsoft-Frontend-theme);
