/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
/* @import '@angular/flex-layout'; */

.admin-panel-text {
    color: #F57C27;
    font-weight: bold;
  }


html, body { height: 100%; }


body { margin: 0;
  font-family: 'Meera Inimai', sans-serif;
  background: #E0EAFC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #efefef, #c7c7c7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #efefef, #c7c7c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 }


 .col-form-label{
  color: #333;   font-family: 'Meera Inimai', sans-serif !important;
  font-size: 14px!important;
}

 .container-datos-personales {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Meera Inimai', sans-serif;
  font-size: 12px;
 padding: 5%;
 margin-top: 10vh;
 margin-left: 18%;
 margin-right: 5%;

 background-color: white;
  box-shadow: 6px #0f0f0f;
  border-radius: 10px;
  border: 1px solid #F57C27!important;
  border-radius: 10px!important;
  
}

.spinner-color{
  color: black;
}



.perfilr{
  padding-bottom: 5%;
  color:#F57C27;
  font-family: 'Meera Inimai', sans-serif;
  font-weight: bold!important;
  font-size: 1.5em!important;
}


.mat-mdc-dialog-container .mdc-dialog__surface{

  border-radius: 10px!important;
  border-color:#F57C27!important;
  border: 1px solid #F57C27!important;
  display: flex;
}

.custom-btn2{
  background-color: #F57C27!important;
  margin-right: 1vw;
  margin-bottom: 1vh;
  color: white!important;
  margin-left: 2vw;
}
.custom-btn2:hover{
  background-color: #fff !important;
    color: #F57C27 !important;
  
}
.custom-btn3{
  background-color: #F57C27!important;
  color: white!important;
}

.custom-btn3:hover{
  background-color: #fff !important;
    color: #F57C27 !important;
  
}

.botonprimario{
  background-color: #F57C27 !important;
  color: #fff !important;
  font-size: 1.1em !important;
}

.minifab{
  background-color: #F57C27 !important;
}
.minifab:hover {
  transform: scale(1.1); /* Escalar el botón un 10% más grande en hover */
}

.minifabdanger{
  background-color: 
  #f44336 !important;
}
.minifabdanger:hover {
  transform: scale(1.1); /* Escalar el botón un 10% más grande en hover */
}


.botonprimario:hover{
  background-color: #fff !important;
    color: #F57C27 !important;
  
}

.botonprimario:disabled {
  background-color: #773e16 !important; /* Cambiar a un tono de gris más oscuro */
  color: #fff !important;
}
.bootstrap-wrapper {
  padding: 20px important;
  border-radius: 10px;
  margin-top: 2vh;
  padding-right: 10vh;
  display: flex;
}

.custom-border {
  border: 2px solid #F57C27; /* Ajusta el grosor del borde según tus necesidades */
  border-radius: 10px;
}

.mat-mdc-table {
  width: 100%;
  border-collapse: collapse;
  margin: 25px 0;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0,0,0,0.15);
  border-radius: 10px;
  overflow: hidden; /* Asegura que el border-radius se aplique en los hijos */
  border: 2px solid #F57C27 !important;
}


.container-bg {
  padding-top: 3.5vh;
  padding-bottom: 10vh;
  height: 100vh;
  background-color: #EEEEEE;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3CradialGradient id='a' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%23C8C8C8'/%3E%3Cstop offset='1' stop-color='%23EEEEEE'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='750' x2='1550' y2='750'%3E%3Cstop offset='0' stop-color='%23dbdbdb'/%3E%3Cstop offset='1' stop-color='%23EEEEEE'/%3E%3C/linearGradient%3E%3Cpath id='s' fill='url(%23b)' d='M1549.2 51.6c-5.4 99.1-20.2 197.6-44.2 293.6c-24.1 96-57.4 189.4-99.3 278.6c-41.9 89.2-92.4 174.1-150.3 253.3c-58 79.2-123.4 152.6-195.1 219c-71.7 66.4-149.6 125.8-232.2 177.2c-82.7 51.4-170.1 94.7-260.7 129.1c-90.6 34.4-184.4 60-279.5 76.3C192.6 1495 96.1 1502 0 1500c96.1-2.1 191.8-13.3 285.4-33.6c93.6-20.2 185-49.5 272.5-87.2c87.6-37.7 171.3-83.8 249.6-137.3c78.4-53.5 151.5-114.5 217.9-181.7c66.5-67.2 126.4-140.7 178.6-218.9c52.3-78.3 96.9-161.4 133-247.9c36.1-86.5 63.8-176.2 82.6-267.6c18.8-91.4 28.6-184.4 29.6-277.4c0.3-27.6 23.2-48.7 50.8-48.4s49.5 21.8 49.2 49.5c0 0.7 0 1.3-0.1 2L1549.2 51.6z'/%3E%3Cg id='g'%3E%3Cuse href='%23s' transform='scale(0.12) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.2) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.25) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(0.3) rotate(-20)'/%3E%3Cuse href='%23s' transform='scale(0.4) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(0.5) rotate(20)'/%3E%3Cuse href='%23s' transform='scale(0.6) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.7) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.835) rotate(-40)'/%3E%3Cuse href='%23s' transform='scale(0.9) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(1.05) rotate(25)'/%3E%3Cuse href='%23s' transform='scale(1.2) rotate(8)'/%3E%3Cuse href='%23s' transform='scale(1.333) rotate(-60)'/%3E%3Cuse href='%23s' transform='scale(1.45) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(1.6) rotate(10)'/%3E%3C/g%3E%3C/defs%3E%3Cg %3E%3Cg transform='translate(0 555)'%3E%3Ccircle fill='url(%23a)' r='3000'/%3E%3Cg opacity='0.5'%3E%3Ccircle fill='url(%23a)' r='2000'/%3E%3Ccircle fill='url(%23a)' r='1800'/%3E%3Ccircle fill='url(%23a)' r='1700'/%3E%3Ccircle fill='url(%23a)' r='1651'/%3E%3Ccircle fill='url(%23a)' r='1450'/%3E%3Ccircle fill='url(%23a)' r='1250'/%3E%3Ccircle fill='url(%23a)' r='1175'/%3E%3Ccircle fill='url(%23a)' r='900'/%3E%3Ccircle fill='url(%23a)' r='750'/%3E%3Ccircle fill='url(%23a)' r='500'/%3E%3Ccircle fill='url(%23a)' r='380'/%3E%3Ccircle fill='url(%23a)' r='250'/%3E%3C/g%3E%3Cg transform=''%3E%3Cuse href='%23g' transform='rotate(10)'/%3E%3Cuse href='%23g' transform='rotate(120)'/%3E%3Cuse href='%23g' transform='rotate(240)'/%3E%3C/g%3E%3Ccircle fill-opacity='0.05' fill='url(%23a)' r='3000'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;

}



.example-container {
  height: 100vh;
  border: none; /* Elimina el borde */
  box-shadow: none; /* Elimina la sombra */
}




/* Media Query para pantallas más pequeñas (resolución móvil) */
@media (max-width: 600px) {
  .container-datos-personales {
    margin-right: 5%; /* Cambia el margen derecho para adaptarse al espacio disponible */
    margin-left: 5%;
    padding-right: 100px;
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    font-family: 'Meera Inimai', sans-serif;
    padding-top: 10px;
    font-size: 12px;
    padding: 5%;
    margin-top: 50px;
    border: 2px solid #F57C27;
    border-radius: 10px;
    margin-inline: 1vw;
    
  }

  
  
  .botonprimario{
   
    font-size: 1em !important;
  }
  

 
  
  
.bootstrap-wrapper {
  padding: 20px;

  margin-top: 5vh;
  padding-right: 2vh;
  display: flex;
}

}