/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.admin-panel-text {
    color: orange;
    font-weight: bold;
  }


html, body { height: 100%; }


body { margin: 0;
  font-family: 'Meera Inimai', sans-serif;
  background: #E0EAFC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #efefef, #c7c7c7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #efefef, #c7c7c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 }


 .container-datos-personales {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Meera Inimai', sans-serif;
  padding-top: 10px;
  font-size: 12px;
 padding: 5%;
 margin-left: 20%;
 margin-right: 20%;
 background-color: white;
  box-shadow: 6px #0f0f0f;
  border-radius: 10px;
  border: 1px solid #F57C27;

  
}

.spinner-color{
  color: black;
}

