<section class="filter-container">
</section>
<br><br>
<table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($any($event))"
  class="mat-elevation-z8">
  <!-- Resto del código -->

  <!-- Position Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} {{element.firstLastname}}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="phone">
    <th mat-header-cell *matHeaderCellDef> Telefono </th>
    <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> Correo </th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>

  <!-- Rol Column -->
  <ng-container matColumnDef="roles">
    <th mat-header-cell *matHeaderCellDef> Rol </th>
    <td mat-cell *matCellDef="let element"> {{element.roles}} </td>
  </ng-container>


  <ng-container matColumnDef="acciones">
    <th mat-header-cell *matHeaderCellDef> Acciones </th>
    <td mat-cell *matCellDef="let element">
      <button mat-mini-fab class="minifab m-1" id="{{element.id}}" (click)="editUser($event)"
        aria-label="Example icon button with a menu icon">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-mini-fab class="minifabdanger m-1" id="{{element.id}}" (click)="openDialogEliminar($event)"
        aria-label="Example icon button with a menu icon">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
</mat-paginator>