@import '~@angular/material/theming';

@include mat-core();


// GAMA COLORES
$my-primary-color: (
  200 : #F57C27,
  500 :#F57C27,
  700 :#F57C27,
  contrast: (
    200 : #000000,
    500 : #ffffff,
    700 : #ffffff,
  )
);

$my-accent-color: (
  200 : #3c3c3c,
  500 : #3c3c3c,
  700 : #3c3c3c,
  contrast: (
    200 : #000000,
    500 : #ffffff,
    700 : #ffffff,
  )
);

$my-warn-color: (
  200 : #f57d27,
  500 : #f57d27,
  700 : #a34f13,
  contrast: (
    200 : #000000,
    500 : #000000,
    700 : #000000,
  )
);

// PALETA DE COLORES
$my-palette-primary: mat-palette($my-primary-color);
$my-palette-accent: mat-palette($my-accent-color);
$my-palette-warn: mat-palette($my-warn-color);

// TEMA PROPIO
$my-theme: mat-light-theme((
 color: (
   primary: $my-palette-primary,
   accent: $my-palette-accent,
   warn: $my-palette-warn
 )
));

// APLICAR NUESTRO TEMA A ANGULAR
@include angular-material-theme($my-theme);


// REEMPLAZA EN ANGULAR.JSON -> STYLES
// "./node_modules/@angular/material/prebuilt-themes/indigo-pink.css",
// POR LA RUTA DEL CUSTOM THEME
// "src/assets/styles/my-theme.scss",