<p class="admin-panel-text">Panel de Administrador</p>
<div class="container mt-4">
    <h2>Actualizar Categoría</h2>
  
    <div class="card">
      <div class="card-body">
        <!--
        <form (ngSubmit)="actualizarCategoria()">
          <div class="mb-3">
            <label for="cat_exam_titl" class="form-label">Título de la Categoría</label>
            <input type="text" class="form-control" id="cat_exam_titl" [(ngModel)]="categoria.cat_exam_titl" name="cat_exam_titl" required>
          </div>
          <div class="mb-3">
            <label for="cat_exam_desc" class="form-label">Descripción de la Categoría</label>
            <textarea class="form-control" id="cat_exam_desc" [(ngModel)]="categoria.cat_exam_desc" name="cat_exam_desc" rows="3" required></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Actualizar Categoría</button>
          <button type="button" class="btn btn-secondary ml-2" (click)="cancelar()">Cancelar</button>
        </form>
        -->
      </div>
    </div>
  </div>
