<table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($any($event))"
  class="mat-elevation-z8">
  <!-- Name Column -->
  <ng-container matColumnDef="Producto">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Producto </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>
  <!-- Categoría Column -->
  <ng-container matColumnDef="Categoria">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Categoria </th>
    <td mat-cell *matCellDef="let element"> {{element.productCategory.name}} </td>
  </ng-container>
  <!-- Acciones Column -->
  <ng-container matColumnDef="Acciones">
    <th mat-header-cell *matHeaderCellDef> Acciones </th>
    <td mat-cell *matCellDef="let element">
      <button mat-mini-fab class="minifab m-1" (click)="viewPreguntas($event, element)" aria-label="Ver preguntas">
        <mat-icon>assignment</mat-icon>
      </button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
  aria-label="Select page of periodic elements"></mat-paginator>