<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cargo usuario</title>
</head>
<link rel="stylesheet" href="\cargo-usuario.component.css">
<body>
  <app-sidebar-user></app-sidebar-user>
  <br>
  <app-sidebar-userdesk></app-sidebar-userdesk>
<div class="container">
  <div class="sidebar">
    <!-- Contenido de la barra lateral aquí -->
</div>

  <mat-card class="container-datos-personales">
    <h4 class="perfilr">Cargo a Postular</h4>
    <mat-card class="contenedorform">
    <div class="div-inputs">
      <form [formGroup]="form" (ngSubmit)="submitForm($event)">  
        <div class="row mb-3">
          <label for="cargosE"  class="col-m-2 col-form-label">Cargos Elitsoft:</label>
          <div class="combobox col-sm-15">
            <select class="form-control" id="cargosE" formControlName="crg_elit_id" name="cargosE">
              <option *ngFor="let cargo of cargosElitsoft" [value]="cargo.crg_elit_id">{{ cargo.crg_elit_nom }}</option>
            </select>
          </div>
        </div>
        <div class="row mb-3">
          <label for="inputPretension" class="col-m-2 col-form-label">Pretensión de renta:</label>
          <div class="col-sm-15">
            <input
              type="text"
              class="form-control"
              id="inputPretension"
              formControlName="crg_usr_pret"
              name="inputPretension"
              placeholder="CLP"
              [ngClass]="{'is-invalid': form.get('crg_usr_pret')?.invalid && form.get('crg_usr_pret')?.touched}"
              (blur)="formatCurrency()"
            >
            <div *ngIf="form.get('crg_usr_pret')?.hasError('pattern') && form.get('crg_usr_pret')?.touched" class="invalid-feedback">
              Ingresar solamente valores numéricos
            </div>
          </div>
        </div>

        <div class="row mb-3">
          <label for="inputPretension" class="col-m-2 col-form-label">Cargo preferente:</label>
          <div class="col-sm-15">
            <input
              type="text"
              class="form-control"
              formControlName="crg_prf"
              placeholder="Opcional"
              [ngClass]="{'is-invalid': form.get('crg_prf')?.invalid && form.get('crg_prf')?.touched}"
            >
            <div *ngIf="form.get('crg_prf')?.invalid && form.get('crg_prf')?.touched" class="invalid-feedback">
            </div>
          </div>
        </div>
        <!-- Nuevos campos para disponibilidad laboral -->
        <div class="row mb-3">
          <label for="inputDisponibilidad" class="col-m-2 col-form-label">Disponibilidad laboral:</label>
          <div class="col-sm-15">
            <select class="form-control" id="inputDisponibilidad" formControlName="disponibilidad" name="inputDisponibilidad">
              <option value="disponible">Disponible</option>
              <option value="no-disponible">No Disponible</option>
              <option value="contratado">Contratado</option>
            </select>
          </div>
        </div>
        <div class="row mb-3">
          <label for="inputTiempoIncorporacion" class="col-m-2 col-form-label">Tiempo de incorporación:</label>
          <div class="col-sm-15">
            <select class="form-control" id="inputTiempoIncorporacion" formControlName="tiempo_incorporacion" name="inputTiempoIncorporacion">
              <option value="inmediata">Inmediata</option>
              <option value="otro">Otro</option>
            </select>
          </div>
        </div>
        <div class="row mb-3" *ngIf="form.get('tiempo_incorporacion')?.value === 'otro'">
          <label for="inputOtroTiempoIncorporacion" class="col-m-2 col-form-label">Especificar tiempo de incorporación:</label>
          <div class="col-sm-15">
            <input
              type="text"
              class="form-control"
              id="inputOtroTiempoIncorporacion"
              formControlName="otro_tiempo_incorporacion"
              name="inputOtroTiempoIncorporacion"
            >
          </div>
        </div>
        <!-- Resto del formulario... -->
       
        <div class="div-form d-grid my-2">

          <button mat-raised-button class="botonprimario m-2" [disabled]="!form.valid" type="submit" (click)="successMessage()">Finalizar</button>
          
        

        </div>

        
      </form>
    </div>
  </mat-card>
  </mat-card>
</div>
</body>
</html>