
.btn {
  font-size: 15px;
}

.div-menu {
  margin: 50px;
}

.form {
  width: fit-content;
}

.btn-guardar{
  font-size: 14px;
  padding: 8px 16px;
  background-color: #F57C27;
  border-color: #F57C27;
  font-family: 'Meera Inimai', sans-serif;
}

.btn-guardar:hover {
  background-color: #ffffff;
  border-color: #F57C27;
  color: #F57C27;

}


.col-form-label{
  color: #333;   font-family: 'Meera Inimai', sans-serif;
  font-size: 14px;
}


/* Media Query para pantallas más pequeñas (resolución móvil) */
@media (max-width: 768px) {
  .container-datos-personales {
    margin-right: 5%; /* Cambia el margen derecho para adaptarse al espacio disponible */
    margin-left: 5%;
    padding-right: 100px;
    padding-top: 5%;
    padding-bottom: 5%;
    align-items: center;
  }


}
