<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cargo usuario</title>
</head>
<link rel="stylesheet" href="\cargo-usuario.component.css">
<body>
  <app-app-navbar></app-app-navbar>
  <app-sidebar-user></app-sidebar-user>
  <app-sidebar-userdesk></app-sidebar-userdesk>
  <br><br><br>
  <div class="container-datos-personales">
    <div class="div-inputs">

      <form [formGroup]="form" (ngSubmit)="submitForm($event)">
        <div class="row mb-3">
          <label for="cargosE"  class="col-sm-2 col-form-label">Cargos Elitsoft:</label>
          <div class="combobox col-sm-10">
            <select class="form-control" id="cargosE" formControlName="crg_elit_id" name="cargosE">
              <option *ngFor="let cargo of cargosElitsoft" [value]="cargo.crg_elit_id">{{ cargo.crg_elit_nom }}</option>
            </select>
            
          </div>
        </div>
        <div class="row mb-3">
          <label for="inputPretension" class="col-sm-2 col-form-label">Pretensión de renta:</label>
          <div class="col-sm-10">
            <input appNumericOnly type="text" class="form-control" id="inputPretension" formControlName="crg_usr_pret" name="inputPretension" placeholder="CLP"
            [ngClass]="{'is-invalid': form.get('crg_usr_pret')?.invalid && form.get('crg_usr_pret')?.touched}" >
            <div *ngIf="form.get('crg_usr_pret')?.hasError('pattern') && form.get('crg_usr_pret')?.touched" class="invalid-feedback">
              Ingresar solamente valores númericos
            </div>
          </div>
      
        </div>
        <div class="row mb-3">
          <label for="inputPretension" class="col-sm-2 col-form-label">Cargo preferente:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" formControlName="crg_prf" placeholder="Opcional"
            [ngClass]="{'is-invalid': form.get('crg_prf')?.invalid && form.get('crg_prf')?.touched}" >
            <div *ngIf="form.get('crg_prf')?.invalid && form.get('crg_prf')?.touched" class="invalid-feedback">
          
            </div>
          </div>
         
        </div>


        <div class="div-form d-grid justify-content-end">
          <button  [disabled]="!form.valid" type="submit" class="btn btn-primary btn-guardar"> Finalizar</button>
        </div>
      </form>
    </div>

  </div>




</body>
</html>
