<p class="admin-panel-text">Panel de Administrador</p>
<div class="container mt-4">
    <div class="row mt-4">
      <div class="col-md-12">
        <h1>Agregar preguntas a <span style="font-weight: bold;">{{ exam_titl }}</span></h1>
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">Digite los detalles de la nueva pregunta</h5>
          </div>
          <div class="card-body">
            <form class="mt-3" (submit)="formSubmit()">
              <div class="form-group">
                <label for="contenido">Digite el contenido de la pregunta</label>
                <textarea
                  class="form-control"
                  rows="8"
                  id="prg"
                  name="prg"
                  [(ngModel)]="pregunta.prg"
                  required
                ></textarea>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="prg_opc1">Digite la opción 1</label>
                    <input
                    type="text"
                    class="form-control"
                    id="prg_opc1"
                    name="prg_opc1"
                    [(ngModel)]="pregunta.prg_opc1"
                    required
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="prg_opc2">Digite la opción 2</label>
                    <input
                    type="text"
                    class="form-control"
                    id="prg_opc2"
                    name="prg_opc2"
                    [(ngModel)]="pregunta.prg_opc2"
                    required
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="prg_opc3">Digite la opción 3</label>
                    <input
                    type="text"
                    class="form-control"
                    id="prg_opc3"
                    name="prg_opc3"
                    [(ngModel)]="pregunta.prg_opc3"
                    required
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="prg_opc4">Digite la opción 4</label>
                    <input
                    type="text"
                    class="form-control"
                    id="prg_opc4"
                    name="prg_opc4"
                    [(ngModel)]="pregunta.prg_opc4"
                    required
                    />
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="prg_resp">Seleccione la respuesta</label>
                <select
                  class="form-control"
                  id="prg_resp"
                  name="prg_resp"
                  [(ngModel)]="pregunta.prg_resp"
                  required
                >
                  <option *ngIf="pregunta.prg_opc1" [value]="pregunta.prg_opc1">{{ pregunta.prg_opc1 }}</option>
                  <option *ngIf="pregunta.prg_opc2" [value]="pregunta.prg_opc2">{{ pregunta.prg_opc2 }}</option>
                  <option *ngIf="pregunta.prg_opc3" [value]="pregunta.prg_opc3">{{ pregunta.prg_opc3 }}</option>
                  <option *ngIf="pregunta.prg_opc4" [value]="pregunta.prg_opc4">{{ pregunta.prg_opc4 }}</option>
                </select>
              </div>
              <div class="form-group">
                <label for="prg_ptje_prg">Puntaje de la pregunta</label>
                <input
                  type="text"
                  class="form-control"
                  id="prg_ptje_prg"
                  name="prg_ptje_prg"
                  [(ngModel)]="pregunta.prg_ptje_prg"
                  required
                />
              </div>
              <div class="container text-center">
                <button type="submit" class="btn btn-primary">Guardar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  
