<mat-nav-list>
    <a  mat-list-item (click)=" downloadCv($event)">
      <span matListItemTitle>Descargar CV</span>
      <span matLine>Aquí podrás descargar el Cv del Postulante</span>
    </a>
  
    <a  mat-list-item (click)="openDialog('300ms', '150ms')">
      <span matListItemTitle>Subir Otros Archivos</span>
      <span matLine>Aquí podrás subir informe psicológico, documentos,etc...</span>
    </a>
    <a  mat-list-item (click)="openLink($event)">
      <span matListItemTitle>Visualizar Archivos</span>
      <span matLine>Aquí podrás Revisar los archvios del Postulante</span>
    </a>
  
  </mat-nav-list>

  